<select name="{{ name }}"
    class="form-select{% if class %} {{ class }}{% endif %}"
    {% if id %}id="{{ id }}"{% endif %}
    {% if required %}required{% endif %}>
    <option value=" "{% if value|length < 1 %} selected{% endif %}>{{ translate({ ident: "NOT_SPECIFIED" }) }} {{ value }}</option>
    <option value="MRS"{% if value|lower  == "mrs" or value2|lower == "mrs" %} selected{% endif %}>{{ translate({ ident: "MRS" }) }}</option>
    <option value="MR"{% if value|lower  == "mr"  or value2|lower == "mr" %} selected{% endif %}>{{ translate({ ident: "MR" }) }}</option>
</select>
