{% if oxcmp_user %}
    {% set delivadr = oxcmp_user.getSelectedAddress() %}
{% endif %}

{% if oxcmp_user %}
    {% set aUserAddresses = oxcmp_user.getUserAddresses() %}

    {% if aUserAddresses|length > 0 %}
        <input type="hidden" name="changeClass" value="{{ onChangeClass|default('account_user') }}">
        {# oxscript include="js/widgets / oxusershipingaddressselect.min.js" priority=10 }}
        {{ script({ include: "js/widgets/oxequalizer.min.js", priority: 10, dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "$( '.dd-add-delivery-address' ).click( function() {  $('.dd-available-addresses .dd-action').remove(); $( this ).find( 'label.btn' ).button('toggle'); } );", dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "$( 'input[name=\"oxaddressid\"]', ).oxUserShipingAddressSelect();: ).oxUserShipingAddressSelect();", dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "$( window ).load( function() { if( !isMobileDevice() ) { oxEqualizer.equalHeight( $( '.dd-available-addresses .panel .card-body' ) ); } } );", dynamic: __oxid_include_dynamic }) }}
        {{ script({ add: "$('.dd-edit-shipping-address').click(function(){ $('#shippingAddressForm').show(); $('html, body').animate({ scrollTop: $( '#shippingAddressForm').offset().top - 80 }, 600 ); } );", dynamic: __oxid_include_dynamic }) #}

        {% block form_user_shipping_address_select %}
            {% for address in aUserAddresses %}
                <div class="list-group-item" data-bs-toggle="buttons">
                    <div class="d-flex">
                        <div class="select-address">
                            <label class="btn btn-outline-primary setToThisShippingAddress{% if address.isSelected() %} active{% endif %}">
                                <input type="radio" class="btn-check" name="oxaddressid" value="{{ address.oxaddress__oxid.value }}" autocomplete="off" {% if address.isSelected() %}checked{% endif %}>

                                {% if address.isSelected() %}
                                <span class="invisible">
                                     <svg>
                                        <use xlink:href="#check"></use>
                                    </svg>

                                    {{ translate({ ident: "USER_SHIPPING_SELECTED" }) }}</span>
                                {% else %}
                                <span class="invisible">{{ translate({ ident: "DD_USER_SHIPPING_SELECT_ADDRESS" }) }}</span>
                                {% endif %}
                            </label>
                        </div>
                        <div class="address-info">
                            {% block form_user_shipping_address_actions %}
                            {% if address.isSelected() %}
                                {% block form_user_shipping_address_edit_action %}
                                <button class="btn btn-outline-dark btn-sm float-end dd-action dd-edit-shipping-address edit-button">
                                    <svg>
                                        <use xlink:href="#pencil"></use>
                                    </svg>
                                </button>
                                {% endblock %}
                                {% block form_user_shipping_address_delete_action %}
                                <button class="btn btn-outline-dark btn-sm float-end dd-action dd-delete-shipping-address edit-button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#delete_shipping_address_{{ loop.index }}"
                                        type="button">
                                    <svg>
                                        <use xlink:href="#trash"></use>
                                    </svg>
                                </button>
                                {% endblock %}
                            {% endif %}
                            {% endblock %}
                            {% include "widget/address/shipping_address.html.twig" with {delivadr: address} %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="list-group-item" data-bs-toggle="buttons">
                <div class="d-flex">
                    <div class="select-address">
                        <div class="dd-add-delivery-address">
                            <label class="btn btn-outline-primary">
                                <input type="radio" class="btn-check" name="oxaddressid" value="-1" autocomplete="off">
                            </label>
                        </div>
                    </div>
                    <div class="address-info">
                        {{ translate({ ident: "DD_USER_SHIPPING_ADD_DELIVERY_ADDRESS" }) }}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endif %}

<div id="shippingAddressForm"{% if delivadr %} style="display: none;"{% endif %}>
    <div class="row gx-2">
        <div class="col-md-6 mb-3">
            <div class="form-floating">
                {% include "form/fieldset/salutation.html.twig" with {name: "deladr[oxaddress__oxsal]", value: delivadr.oxaddress__oxsal.value, value2: deladr.oxaddress__oxsal, id: "deladr_oxaddress__oxsal"} %}
                <label class="{% if oView.isFieldRequired("oxaddress__oxsal") %} req{% endif %}" for="deladr_oxaddress__oxsal">{{ translate({ ident: "TITLE" }) }}</label>
            </div>
        </div>
    </div>
    <div class="row gx-2">
        <div class="col-md-6 mb-3{% if aErrors.oxaddress__oxfname %} oxInValid{% endif %}">
            <div class="form-floating">
                <input class="form-control" type="text" maxlength="255" placeholder="{{ translate({ ident: "FIRST_NAME" }) }}" id="deladr[oxaddress__oxfname]" name="deladr[oxaddress__oxfname]" value="{% if isset( deladr.oxaddress__oxfname ) %}{{ deladr.oxaddress__oxfname }}{% else %}{{ delivadr.oxaddress__oxfname.value }}{% endif %}"{% if oView.isFieldRequired("oxaddress__oxfname") %} required{% endif %}>
                <label for="deladr[oxaddress__oxfname]" class="{% if oView.isFieldRequired("oxaddress__oxfname") %} req{% endif %}">{{ translate({ ident: "FIRST_NAME" }) }}</label>
            </div>
            {% if oView.isFieldRequired("oxaddress__oxfname") %}
                {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxaddress__oxfname} %}
            {% endif %}
        </div>
        <div class="col-md-6 mb-3{% if aErrors.oxaddress__oxlname %} oxInValid{% endif %}">
            <div class="form-floating">
                <input class="form-control" type="text" maxlength="255" placeholder="{{ translate({ ident: "LAST_NAME" }) }}" id="deladr[oxaddress__oxlname]" name="deladr[oxaddress__oxlname]" value="{% if isset( deladr.oxaddress__oxlname ) %}{{ deladr.oxaddress__oxlname }}{% else %}{{ delivadr.oxaddress__oxlname.value }}{% endif %}"{% if oView.isFieldRequired("oxaddress__oxlname") %} required{% endif %}>
                <label for="deladr[oxaddress__oxlname]" class="{% if oView.isFieldRequired("oxaddress__oxlname") %} req{% endif %}">{{ translate({ ident: "LAST_NAME" }) }}</label>
            </div>
            {% if oView.isFieldRequired("oxaddress__oxlname") %}
                {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxaddress__oxlname} %}
            {% endif %}
        </div>
    </div>
    <div class="mb-3 form-floating{% if aErrors.oxaddress__oxcompany %} oxInValid{% endif %}">
        <input class="form-control" type="text" maxlength="255" placeholder="{{ translate({ ident: "COMPANY" }) }}" name="deladr[oxaddress__oxcompany]" value="{% if isset( deladr.oxaddress__oxcompany ) %}{{ deladr.oxaddress__oxcompany }}{% else %}{{ delivadr.oxaddress__oxcompany.value }}{% endif %}"{% if oView.isFieldRequired("oxaddress__oxcompany") %} required{% endif %}>
        <label class="{% if oView.isFieldRequired("oxaddress__oxcompany") %} req{% endif %}">{{ translate({ ident: "COMPANY" }) }}</label>
        {% if oView.isFieldRequired("oxaddress__oxcompany") %}
        {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxaddress__oxcompany} %}
        {% endif %}
    </div>
    <div class="mb-3 form-floating{% if aErrors.oxaddress__oxaddinfo %} oxInValid{% endif %}">
        {% set _address_addinfo_tooltip = "FORM_FIELDSET_USER_SHIPPING_ADDITIONALINFO2_TOOLTIP"|translate %}
        <input class="form-control" type="text" maxlength="255" placeholder="{{ translate({ ident: "ADDITIONAL_INFO" }) }}" name="deladr[oxaddress__oxaddinfo]" value="{% if isset( deladr.oxaddress__oxaddinfo ) %}{{ deladr.oxaddress__oxaddinfo }}{% else %}{{ delivadr.oxaddress__oxaddinfo.value }}{% endif %}"{% if oView.isFieldRequired("oxaddress__oxaddinfo") %} required{% endif %}>
        <label class="{% if oView.isFieldRequired("oxaddress__oxaddinfo") %} req{% endif %}{% if _address_addinfo_tooltip %} tooltip{% endif %}">{{ translate({ ident: "ADDITIONAL_INFO" }) }}</label>
        {% if oView.isFieldRequired("oxaddress__oxaddinfo") %}
            {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxaddress__oxaddinfo} %}
        {% endif %}
    </div>
    <div class="mb-3{% if aErrors.oxaddress__oxstreet %} oxInValid{% endif %}">
        <div class="row gx-2">
            <div class="col-8">
                <div class="form-floating">
                    <input class="form-control" type="text" data-fieldsize="pair-xsmall" placeholder="{{ translate({ ident: "STREET" }) }}" maxlength="255" id="deladr[oxaddress__oxstreet]" name="deladr[oxaddress__oxstreet]" value="{% if isset( deladr.oxaddress__oxstreet ) %}{{ deladr.oxaddress__oxstreet }}{% else %}{{ delivadr.oxaddress__oxstreet.value }}{% endif %}"{% if oView.isFieldRequired("oxaddress__oxstreet") %} required{% endif %}>
                    <label for="deladr[oxuser__oxstreet]" class="{% if oView.isFieldRequired("oxaddress__oxstreet") %} req{% endif %}">{{ translate({ ident: "STREET" }) }}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating">
                    <input class="form-control" type="text" placeholder="{{ translate({ ident: "STREETNO" }) }}" data-fieldsize="xsmall" maxlength="16" id="deladr[oxaddress__oxstreetnr]" name="deladr[oxaddress__oxstreetnr]" value="{% if isset( deladr.oxaddress__oxstreetnr ) %}{{ deladr.oxaddress__oxstreetnr }}{% else %}{{ delivadr.oxaddress__oxstreetnr.value }}{% endif %}"{% if oView.isFieldRequired("oxaddress__oxstreetnr") %} required{% endif %}>
                    <label for="deladr[oxaddress__oxstreetnr]" class="{% if oView.isFieldRequired("oxaddress__oxstreetnr") %} req{% endif %}">{{ translate({ ident: "STREETNO" }) }}</label>
                </div>
            </div>
            {% if oView.isFieldRequired("oxaddress__oxstreet") or oView.isFieldRequired("oxaddress__oxstreetnr") %}
                {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxaddress__oxstreet} %}
            {% endif %}
        </div>
    </div>

    <div class="mb-3{% if aErrors.oxaddress__oxzip or aErrors.oxaddress__oxcity %} oxInValid{% endif %}">
        <div class="row gx-2">
            <div class="col-5">
                <div class="form-floating">
                    <input class="form-control" type="text" placeholder="{{ translate({ ident: "POSTAL_CODE" }) }}" data-fieldsize="small" maxlength="50" id="deladr[oxaddress__oxzip]" name="deladr[oxaddress__oxzip]" value="{% if isset( deladr.oxaddress__oxzip ) %}{{ deladr.oxaddress__oxzip }}{% else %}{{ delivadr.oxaddress__oxzip.value }}{% endif %}"{% if oView.isFieldRequired("oxaddress__oxzip") %} required{% endif %}>
                    <label for="deladr[oxuser__oxzip]" class="{% if oView.isFieldRequired("oxaddress__oxzip") %} req{% endif %}">{{ translate({ ident: "POSTAL_CODE" }) }}</label>
                </div>
                {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxaddress__oxzip} %}
            </div>
            <div class="col-7">
                <div class="form-floating">
                    <input class="form-control" type="text" data-fieldsize="pair-small" placeholder="{{ translate({ ident: "CITY" }) }}" maxlength="255" id="deladr[oxaddress__oxcity]" name="deladr[oxaddress__oxcity]" value="{% if isset( deladr.oxaddress__oxcity ) %}{{ deladr.oxaddress__oxcity }}{% else %}{{ delivadr.oxaddress__oxcity.value }}{% endif %}"{% if oView.isFieldRequired("oxaddress__oxcity") %} required{% endif %}>
                    <label for="deladr[oxuser__oxcity]" class="{% if oView.isFieldRequired("oxaddress__oxcity") %} req{% endif %}">{{ translate({ ident: "CITY" }) }}</label>
                </div>
                {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxaddress__oxcity} %}
            </div>
        </div>
    </div>
    {% block form_user_shipping_country %}
        <div class="mb-3 form-floating{% if aErrors.oxaddress__oxcountryid %} oxInValid{% endif %}">
            <select class="form-select" id="delCountrySelect" name="deladr[oxaddress__oxcountryid]"{% if oView.isFieldRequired("oxaddress__oxcountryid") %} required{% endif %}>
                {% if oViewConf.getCountryList()|length > 1 %}
                <option value="">-</option>
                {% endif %}
                {% set blCountrySelected = false %}
                {% for country_id, country in oViewConf.getCountryList() %}
                    {% set sCountrySelect = "" %}
                    {% if not blCountrySelected %}
                        {% if (isset(deladr.oxaddress__oxcountryid) and deladr.oxaddress__oxcountryid == country.oxcountry__oxid.value) or                             (not isset(deladr.oxaddress__oxcountryid) and (delivadr.oxaddress__oxcountry.value == country.oxcountry__oxtitle.value or                              delivadr.oxaddress__oxcountry.value == country.oxcountry__oxid.value or                              delivadr.oxaddress__oxcountryid.value == country.oxcountry__oxid.value)) %}
                            {% set blCountrySelected = true %}
                            {% set sCountrySelect = "selected" %}
                        {% endif %}
                    {% endif %}
                    <option value="{{ country.oxcountry__oxid.value }}" {{ sCountrySelect }}>{{ country.oxcountry__oxtitle.value }}</option>
                {% endfor %}
            </select>
            <label class="form-label{% if oView.isFieldRequired("oxaddress__oxcountryid") %} req{% endif %}" for="delCountrySelect">{{ translate({ ident: "COUNTRY" }) }}</label>

            {% if oView.isFieldRequired("oxaddress__oxcountryid") %}
                {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxaddress__oxcountryid} %}
            {% endif %}
        </div>
    {% endblock %}
    <div class="row gx-2">
        <div class="col-md-6 mb-3{% if aErrors.oxaddress__oxfon %} oxInValid{% endif %}">
            <div class="form-floating">
                <input class="form-control{% if oView.isFieldRequired("oxaddress__oxfon") %} js-oxValidate js-oxValidate_notEmpty{% endif %}" placeholder="{{ translate({ ident: "PHONE" }) }}" type="text" maxlength="128" id="deladr[oxaddress__oxfon]" name="deladr[oxaddress__oxfon]" value="{% if isset( deladr.oxaddress__oxfon ) %}{{ deladr.oxaddress__oxfon }}{% else %}{{ delivadr.oxaddress__oxfon.value }}{% endif %}"{% if oView.isFieldRequired("oxaddress__oxfon") %} required{% endif %}>
                <label for="deladr[oxaddress__oxfon]" class="form-label{% if oView.isFieldRequired("oxaddress__oxfon") %} req{% endif %}">{{ translate({ ident: "PHONE" }) }}</label>
            </div>
            {% if oView.isFieldRequired("oxaddress__oxfon") %}
                {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxaddress__oxfon} %}
            {% endif %}
        </div>
        <div class="col-md-6 mb-3{% if aErrors.oxaddress__oxfax %} oxInValid{% endif %}">
            <div class="form-floating">
                <input class="form-control{% if oView.isFieldRequired("oxaddress__oxfax") %} js-oxValidate js-oxValidate_notEmpty{% endif %}" placeholder="{{ translate({ ident: "FAX" }) }}" type="text" maxlength="128" id="deladr[oxaddress__oxfax]" name="deladr[oxaddress__oxfax]" value="{% if isset( deladr.oxaddress__oxfax ) %}{{ deladr.oxaddress__oxfax }}{% else %}{{ delivadr.oxaddress__oxfax.value }}{% endif %}"{% if oView.isFieldRequired("oxaddress__oxfax") %} required{% endif %}>
                <label for="deladr[oxaddress__oxfax]" class="form-label{% if oView.isFieldRequired("oxaddress__oxfax") %} req{% endif %}">{{ translate({ ident: "FAX" }) }}</label>
            </div>
            {% if oView.isFieldRequired("oxaddress__oxfax") %}
                {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxaddress__oxfax} %}
            {% endif %}
        </div>
    </div>
</div>
{% if not noFormSubmit %}
    <div class="my-3">
        <div class="col-12 col-lg-9 ms-lg-auto">
             <p class="req-waring">{{ translate({ ident: "COMPLETE_MARKED_FIELDS" }) }}</p>
            <button id="accUserSaveBottom" type="submit" class="submitButton" name="save">{{ translate({ ident: "SAVE" }) }}</button>
        </div>
    </div>
{% endif %}
