<div class="mb-3 form-floating{% if aErrors.oxuser__oxusername %} is-invalid{% endif %}">
    {% block user_noaccount_email %}
        <input id="userLoginName" class="form-control" type="email" name="lgn_usr" value="{{ oView.getActiveUsername() }}">
        <label for="userLoginName" class="req">{{ translate({ ident: "EMAIL_ADDRESS" }) }}</label>
        <div class="help-block">
            {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxuser__oxusername} %}
        </div>
    {% endblock %}
</div>
{% block user_noaccount_newsletter %}
    <input type="hidden" name="blnewssubscribed" value="0">
    <div class="mb-3 form-check">
        <input type="checkbox" id="blnewssubscribed" name="blnewssubscribed" value="1" {% if oView.isNewsSubscribed() %}checked{% endif %}> {{ translate({ ident: "NEWSLETTER_SUBSCRIPTION" }) }}
        <label class="form-check-label" for="blnewssubscribed">
            {{ translate({ ident: "NEWSLETTER_SUBSCRIPTION" }) }}
        </label>
        <p class="text-muted">{{ translate({ ident: "MESSAGE_NEWSLETTER_SUBSCRIPTION" }) }}</p>
    </div>
{% endblock %}
