{{ script({ include: "js/listremovebutton.min.js", priority: 10, dynamic: __oxid_include_dynamic }) }}

{% block widget_product_listitem_line %}
    {% set product = oView.getProduct() %}
    {% set blDisableToCart = oView.getDisableToCart() %}
    {% set iIndex = oView.getIndex() %}
    {% set showMainLink = oView.getShowMainLink() %}
    {% set owishid = oView.getWishId() %}
    {% set removeFunction = oView.getRemoveFunction() %}
    {% set recommid = oView.getRecommId() %}
    {% set toBasketFunction = oView.getToBasketFunction() %}
    {% set altproduct = oView.getAltProduct() %}
    {% set testid = oView.getIndex() %}

    {% set currency = oView.getActCurrency() %}
    {% if showMainLink %}
        {% set _productLink = product.getMainLink() %}
    {% else %}
        {% set _productLink = product.getLink() %}
    {% endif %}
    {% set aVariantSelections = product.getVariantSelections("null", "null", 1) %}
    {% set blShowToBasket = true %} {# tobasket or more info ? #}
    {% if blDisableToCart or product.isNotBuyable() or (aVariantSelections and aVariantSelections.selections) or product.getVariants() or (oViewConf.showSelectListsInList() and product.getSelections(1)) %}
        {% set blShowToBasket = false %}
    {% endif %}

        {{ oViewConf.getNavFormParams()|raw }}
        {{ oViewConf.getHiddenSid()|raw }}
        <input type="hidden" name="pgNr" value="{{ oView.getActPage() }}">
        {% if recommid %}
            <input type="hidden" name="recommid" value="{{ recommid }}">
        {% endif %}
        {% if blShowToBasket %}
            {% hasrights { ident: "TOBASKET" } %}
                <input type="hidden" name="cl" value="{{ oViewConf.getTopActiveClassName() }}">
                {% if owishid %}
                    <input type="hidden" name="owishid" value="{{ owishid }}">
                {% endif %}
                {% if toBasketFunction %}
                    <input type="hidden" name="fnc" value="{{ toBasketFunction }}">
                {% else %}
                    <input type="hidden" name="fnc" value="tobasket">
                {% endif %}
                <input type="hidden" name="aid" value="{{ product.oxarticles__oxid.value }}">
                {% if altproduct %}
                    <input type="hidden" name="anid" value="{{ altproduct }}">
                {% else %}
                    <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
                {% endif %}
                <input id="am_{{ testid }}" type="hidden" name="am" value="1">
            {% endhasrights %}
        {% else %}
            <input type="hidden" name="cl" value="details">
            <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
        {% endif %}

        <div class="card mb-1">
            <div class="row g-0">
                <div class="col-3 col-lg-1">
                    {% block widget_product_listitem_line_picturebox %}
                        <a class="d-block text-center py-2" href="{{ _productLink|raw }}" title="{{ product.oxarticles__oxtitle.value }} {{ product.oxarticles__oxvarselect.value }}">
                            <img loading="lazy" width="100" height="100" src="{{ product.getThumbnailUrl()|raw }}" alt="{{ translate({ ident: "PRODUCT_SINGLE_IMAGE_ALT", args: product.oxarticles__oxtitle.value ~ ' ' ~ product.oxarticles__oxvarselect.value }) }}" class="card-img">
                        </a>
                    {% endblock %}
                </div>
                <div class="col-9 col-lg-11">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-8 order-md-1 col-lg-5">
                                {% block widget_product_listitem_line_titlebox %}
                                    <a class="h5 card-title" href="{{ _productLink|raw }}" title="{{ product.oxarticles__oxtitle.value }} {{ product.oxarticles__oxvarselect.value }}">{{ product.oxarticles__oxtitle.value }} {{ product.oxarticles__oxvarselect.value }}</a>
                                {% endblock %}

                                {% block widget_product_listitem_line_description %}
                                <div class="card-text">
                                    {% if recommid %}
                                    {{ product.text }}
                                    {% else %}
                                    {% hasrights { ident: "SHOWSHORTDESCRIPTION" } %}
                                    {{ product.oxarticles__oxshortdesc.value }}
                                    {% endhasrights %}
                                    {% endif %}
                                </div>
                                {% endblock %}
                            </div>
                            <div class="d-none d-lg-block order-lg-3 col-lg-5">
                                {% block widget_product_listitem_line_attributes %}
                                <div class="attributes">
                                    {% set oAttributes = product.getAttributes() %}
                                    {% if oAttributes|length %}
                                    <ul class="list-unstyled attributes small">
                                        {% for oAttr in oAttributes %}
                                        <li>
                                            <strong>{{ oAttr.oxattribute__oxtitle.value }}{{ translate({ ident: "COLON" }) }}</strong>
                                            <span>{{ oAttr.oxattribute__oxvalue.value }}</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                {% endblock %}
                            </div>
                            <div class="d-none d-md-block col-md-4 order-md-2 col-lg-2 order-lg-4">
                                <div class="functions text-end">
                                    {% block widget_product_listitem_line_price %}
                                        {% hasrights { ident: "SHOWARTICLEPRICE" } %}
                                        {% set oUnitPrice = product.getUnitPrice() %}
                                        {% set tprice = product.getTPrice() %}
                                        {% set price = product.getPrice() %}

                                        <div class="price h5{% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %} sale{% endif %}">
                                            {% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %}
                                            <span class="oldPrice text-muted">
                                                <del>{{ product.getFTPrice() }} {{ currency.sign }}</del>
                                            </span>
                                            {% endif %}

                                            {% block widget_product_listitem_line_price_value %}
                                            <span id="productPrice_{{ testid }}" class="text-nowrap{% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %} text-danger{% endif %}">
                                                {% if product.isRangePrice() %}
                                                    {{ translate({ ident: "PRICE_FROM" }) }}
                                                    {% if not product.isParentNotBuyable() %}
                                                        {{ product.getFMinPrice() }}
                                                    {% else %}
                                                        {{ product.getFVarMinPrice() }}
                                                    {% endif %}
                                                {% else %}
                                                    {% if not product.isParentNotBuyable() %}
                                                        {{ product.getFPrice() }}
                                                    {% else %}
                                                        {{ product.getFVarMinPrice() }}
                                                    {% endif %}
                                                {% endif %}
                                                {{ currency.sign }}
                                                {% if oView.isVatIncluded() %}
                                                    {% if not (product.hasMdVariants() or (oViewConf.showSelectListsInList() and product.getSelections(1)) or product.getVariants()) %}*{% endif %}
                                                {% endif %}
                                            </span>
                                            {% endblock %}

                                            {% if oUnitPrice %}
                                                <span id="productPricePerUnit_{{ testid }}" class="pricePerUnit text-nowrap">{{ product.oxarticles__oxunitquantity.value }} {{ product.getUnitName() }} | {{ format_price(oUnitPrice, { currency: currency }) }}/{{ product.getUnitName() }}</span>
                                            {% elseif product.oxarticles__oxweight.value and config.getConfigParam('blShowWeightInList')  %}
                                                <span id="productPricePerUnit_Weight_{{ testid }}" class="pricePerUnit text-nowrap">
                                                    <span title="weight">{{ translate({ ident: "WEIGHT" }) }}</span>
                                                    <span class="value">{{ product.oxarticles__oxweight.value }} {{ translate({ ident: "KG" }) }}</span>
                                                </span>
                                            {% endif %}
                                        </div>
                                        {% endhasrights %}
                                    {% endblock %}

                                    {% if product.loadAmountPriceInfo() %}
                                    <div class="mb-3">
                                        {% include "page/details/inc/priceinfo.html.twig" with {oDetailsProduct: product} %}
                                    </div>
                                    {% endif %}

                                    {% block widget_product_listitem_line_selections %}
                                    {% if aVariantSelections and aVariantSelections.selections  %}
                                        <form name="tobasket.{{ testid }}" {% if blShowToBasket %}action="{{ oViewConf.getSelfActionLink()|raw }}" method="post"{% else %}action="{{ _productLink|raw }}" method="get"{% endif %}>
                                            <div id="variantselector_{{ iIndex }}" class="selectorsBox variant-dropdown">
                                                {% for iKey, oSelectionList in aVariantSelections.selections %}
                                                {% include "widget/product/selectbox.html.twig" with {oSelectionList: oSelectionList, blSubmitOnChange: true, blHideLabel: true} %}
                                                {% endfor %}
                                            </div>
                                        </form>
                                    {% elseif oViewConf.showSelectListsInList() %}
                                        {% set oSelections = product.getSelections(1) %}
                                        {% if oSelections %}
                                            <div id="selectlistsselector_{{ iIndex }}" class="selectorsBox">
                                                {% for oList in oSelections %}
                                                    {% include "widget/product/selectbox.html.twig" with {oSelectionList: oList, sFieldName: "sel", iKey: loop.index0, blHideDefault: true, sSelType: "seldrop", blHideLabel: true} %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% endblock %}

                                    {% block widget_product_listitem_line_tobasket %}
                                        {% if blShowToBasket %}
                                            {% hasrights { ident: "TOBASKET" } %}
                                                <form name="tobasket{{ testid }}" {% if blShowToBasket %}action="{{ oViewConf.getSelfActionLink()|raw }}" method="post"{% else %}action="{{ _productLink|raw }}" method="get"{% endif %}>
                                                    <div class="hidden">
                                                        {{ oViewConf.getNavFormParams()|raw }}
                                                        {{ oViewConf.getHiddenSid()|raw }}
                                                        <input type="hidden" name="pgNr" value="{{ oView.getActPage() }}">
                                                        {% if recommid %}
                                                            <input type="hidden" name="recommid" value="{{ recommid }}">
                                                        {% endif %}
                                                        {% if blShowToBasket %}
                                                            {% hasrights { ident: "TOBASKET" } %}
                                                                <input type="hidden" name="cl" value="{{ oViewConf.getTopActiveClassName() }}">
                                                                {% if owishid %}
                                                                    <input type="hidden" name="owishid" value="{{ owishid }}">
                                                                {% endif %}
                                                                {% if toBasketFunction %}
                                                                    <input type="hidden" name="fnc" value="{{ toBasketFunction }}">
                                                                {% else %}
                                                                    <input type="hidden" name="fnc" value="tobasket">
                                                                {% endif %}
                                                                <input type="hidden" name="aid" value="{{ product.oxarticles__oxid.value }}">
                                                                {% if altproduct %}
                                                                    <input type="hidden" name="anid" value="{{ altproduct }}">
                                                                {% else %}
                                                                    <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
                                                                {% endif %}
                                                                <input type="hidden" name="am" value="1">
                                                            {% endhasrights %}
                                                        {% else %}
                                                            <input type="hidden" name="cl" value="details">
                                                            <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="input-group">
                                                            <input id="amountToBasket_{{ testid }}" type="text" name="am" value="1" size="3" autocomplete="off" class="form-control amount" aria-label="{{ translate({ ident: "QUANTITY" }) }}">
                                                            <button id="toBasket_{{ testid }}" type="submit" aria-label="{{ translate({ ident: "TO_CART" }) }}" class="btn btn-highlight" data-container="body">
                                                                <svg>
                                                                    <use xlink:href="#bag"></use>
                                                                </svg>
                                                            </button>
                                                            {% if removeFunction and ((owishid and (owishid==oxcmp_user.oxuser__oxid.value)) or (wishid==oxcmp_user.oxuser__oxid.value) or recommid) %}
                                                            <button data-triggerForm="remove_{{ removeFunction }}{{ testid }}" type="submit" class="btn btn-light removeButton listRemoveButton" aria-label="{{ translate({ ident: "REMOVE" }) }}">
                                                                <svg>
                                                                    <use xlink:href="#trash"></use>
                                                                </svg>
                                                            </button>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </form>
                                            {% endhasrights %}
                                        {% else %}
                                            <a class="btn btn-primary w-100 mb-3" href="{{ _productLink|raw }}">{{ translate({ ident: "MORE_INFO" }) }}</a>

                                            {% if removeFunction and ((owishid and (owishid==oxcmp_user.oxuser__oxid.value)) or (wishid==oxcmp_user.oxuser__oxid.value) or recommid) %}
                                                <button data-triggerForm="remove_{{ removeFunction }}{{ testid }}" type="submit" class="btn btn-light removeButton listRemoveButton">
                                                    <svg>
                                                        <use xlink:href="#trash"></use>
                                                    </svg>
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% if removeFunction and ((owishid and (owishid==oxcmp_user.oxuser__oxid.value)) or (wishid==oxcmp_user.oxuser__oxid.value) or recommid) %}
        <form action="{{ oViewConf.getSelfActionLink()|raw }}" method="post" id="remove_{{ removeFunction }}{{ testid }}">
            {{ oViewConf.getHiddenSid()|raw }}
            <input type="hidden" name="cl" value="{{ oViewConf.getTopActiveClassName() }}">
            <input type="hidden" name="fnc" value="{{ removeFunction }}">
            <input type="hidden" name="aid" value="{{ product.oxarticles__oxid.value }}">
            <input type="hidden" name="am" value="0">
            <input type="hidden" name="itmid" value="{{ product.getItemKey() }}">
            {% if recommid %}
                <input type="hidden" name="recommid" value="{{ recommid }}">
            {% endif %}
        </form>
    {% endif %}
{% endblock %}
