{% block widget_product_listitem_grid %}
    {% set product = oView.getProduct() %}
    {% set blDisableToCart = oView.getDisableToCart() %}
    {% set iIndex = oView.getIndex() %}
    {% set showMainLink = oView.getShowMainLink() %}
    {% set currency = oView.getActCurrency() %}
    {% if showMainLink %}
        {% set _productLink = product.getMainLink() %}
    {% else %}
        {% set _productLink = product.getLink() %}
    {% endif %}
    {% set aVariantSelections = product.getVariantSelections("null", "null", 1) %}
    {% set blShowToBasket = true %} {# tobasket or more info ? #}
    {% if blDisableToCart or product.isNotBuyable() or (aVariantSelections and aVariantSelections.selections) or product.hasMdVariants() or (oViewConf.showSelectListsInList() and product.getSelections(1)) or product.getVariants() %}
        {% set blShowToBasket = false %}
    {% endif %}

    <div class="card">
        {% block widget_product_listitem_grid_gridpicture %}
        <div class="position-relative">
            {% if oViewConf.isModuleActive('cnc / imagebutler') and product.getMasterZoomPictureUrl(1) %}
                <picture class="card-picture">
                    <source type="image/webp" srcset="{{ oViewConf.getDynamicImage(product.getMasterZoomPictureUrl(1), '160', '160', 'webp', true) }}" media="(max-width: 375px)">

                    <source type="image/webp" srcset="{{ oViewConf.getDynamicImage(product.getMasterZoomPictureUrl(1), '300', '300', 'webp', true) }}">
                    <source srcset="{{ oViewConf.getDynamicImage(product.getMasterZoomPictureUrl(1), '300', '300', 'jpg', true) }}">
                    <img loading="lazy" width="300" height="300" src="{{ oViewConf.getDynamicImage(product.getMasterZoomPictureUrl(1), '160', '160', 'jpg', true) }}" alt="{{ product.oxarticles__oxtitle.value }} {{ product.oxarticles__oxvarselect.value }}" class="product-img">
                </picture>
            {% else %}
                <img loading="lazy" width="300" height="300" src="{{ product.getThumbnailUrl() }}" alt="{{ product.oxarticles__oxtitle.value }} {{ product.oxarticles__oxvarselect.value }}" class="product-img">
            {% endif %}
            <a href="{{ _productLink }}" class="stretched-link" title="{{ translate({ ident: "DETAILS" }) }}"></a>
        </div>
        {% endblock %}

        <div class="card-body position-relative">
            {% block widget_product_listitem_infogrid_titlebox %}
                <div class="h5 card-title">
                    {{ product.oxarticles__oxtitle.value|raw }} {{ product.oxarticles__oxvarselect.value }}
                </div>
            {% endblock %}
            <a href="{{ _productLink }}" class="stretched-link" title="{{ translate({ ident: "DETAILS" }) }}"></a>
        </div>
        <div class="card-footer p-0 ps-3 border-0">
            {# block name="widget_product_listitem_grid_selections" }}
                {% if aVariantSelections and aVariantSelections.selections  %}
                    <form name="tobasket.{{ testid }}" {% if blShowToBasket %}action="{{ oViewConf.getSelfActionLink() }}" method="post"{% else %}action="{{ _productLink }}" method="get"{% endif %}>
                        <div id="variantselector_{{ iIndex }}" class="selectorsBox variant-dropdown">
                            {% for iKey, oSelectionList in aVariantSelections.selections %}
                                {% include "widget/product/selectbox.html.twig" with {oSelectionList: oSelectionList, blSubmitOnChange: true, blHideLabel: true} %}
                            {% endfor %}
                        </div>
                    </form>
                {% elseif oViewConf.showSelectListsInList() %}
                    {% set oSelections = product.getSelections(1) %}
                    {% if oSelections %}
                        <div id="selectlistsselector_{{ iIndex }}" class="selectorsBox">
                            {% for oList in oSelections %}
                                {% include "widget/product/selectbox.html.twig" with {oSelectionList: oList, sFieldName: "sel", iKey: loop.index0, blHideDefault: true, sSelType: "seldrop", blHideLabel: true} %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            {{ /block #}
            {% block widget_product_listitem_grid_tobasket %}
                <div class="actions d-flex justify-content-between">
                    <div class="price h5{% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %} sale{% endif %}">
                        {% block widget_product_listitem_grid_price %}
                        {% hasrights { ident: "SHOWARTICLEPRICE" } %}
                        {% set oUnitPrice = product.getUnitPrice() %}
                        {% set tprice = product.getTPrice() %}
                        {% set price = product.getPrice() %}

                        {% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %}
                        <span class="oldPrice text-muted">
                                <del>{{ product.getFTPrice() }} {{ currency.sign }}</del>
                            </span>
                        {% endif %}

                        {% block widget_product_listitem_grid_price_value %}
                        {% if product.getFPrice() %}
                        <span class="text-nowrap{% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %} text-danger{% endif %}">
                                    {% if product.isRangePrice() %}
                                        {{ translate({ ident: "PRICE_FROM" }) }}
                                        {% if not product.isParentNotBuyable() %}
                                            {{ product.getFMinPrice() }}
                                        {% else %}
                                            {{ product.getFVarMinPrice() }}
                                        {% endif %}
                                    {% else %}
                                        {% if not product.isParentNotBuyable() %}
                                            {{ product.getFPrice() }}
                                        {% else %}
                                            {{ product.getFVarMinPrice() }}
                                        {% endif %}
                                    {% endif %}
                                    {{ currency.sign }}
                                    {% if oView.isVatIncluded() %}
                                         {% if not (product.hasMdVariants() or (oViewConf.showSelectListsInList() and product.getSelections(1)) or product.getVariants()) %}*{% endif %}
                                    {% endif %}
                                </span>
                        {% endif %}
                        {% endblock %}
                        {% if oUnitPrice %}
                            <span id="productPricePerUnit_{{ testid }}" class="pricePerUnit">
                                    {{ product.oxarticles__oxunitquantity.value }} {{ product.getUnitName() }} | {{ format_price(oUnitPrice, { currency: currency }) }}/{{ product.getUnitName() }}
                            </span>
                        {% elseif product.oxarticles__oxweight.value and config.getConfigParam('blShowWeightInList')  %}
                            <span id="productPricePerUnit_Weight_{{ testid }}" class="pricePerUnit">
                                    <span title="weight">{{ translate({ ident: "WEIGHT" }) }}</span>
                                    <span class="value">{{ product.oxarticles__oxweight.value }} {{ translate({ ident: "KG" }) }}</span>
                            </span>
                        {% endif %}
                        {% endhasrights %}
                        {% endblock %}
                    </div>

                    <div class="btn-group">
                        {% if blShowToBasket %}
                        {% hasrights { ident: "TOBASKET" } %}
                        <form name="tobasket{{ testid }}" {% if blShowToBasket %}action="{{ oViewConf.getSelfActionLink() }}" method="post"{% else %}action="{{ _productLink }}" method="get"{% endif %}>
                            <div class="hidden">
                                {{ oViewConf.getNavFormParams()|raw }}
                                {{ oViewConf.getHiddenSid()|raw }}
                                <input type="hidden" name="pgNr" value="{{ oView.getActPage() }}">
                                {% if recommid %}
                            <input type="hidden" name="recommid" value="{{ recommid }}">
                                {% endif %}
                                {% if blShowToBasket %}
                                {% hasrights { ident: "TOBASKET" } %}
                            <input type="hidden" name="cl" value="{{ oViewConf.getTopActiveClassName() }}">
                                {% if owishid %}
                            <input type="hidden" name="owishid" value="{{ owishid }}">
                                {% endif %}
                                {% if toBasketFunction %}
                            <input type="hidden" name="fnc" value="{{ toBasketFunction }}">
                                {% else %}
                            <input type="hidden" name="fnc" value="tobasket">
                                {% endif %}
                            <input type="hidden" name="aid" value="{{ product.oxarticles__oxid.value }}">
                                {% if altproduct %}
                            <input type="hidden" name="anid" value="{{ altproduct }}">
                                {% else %}
                            <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
                                {% endif %}
                            <input type="hidden" name="am" value="1">
                                {% endhasrights %}
                                {% else %}
                            <input type="hidden" name="cl" value="details">
                            <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary" aria-label="{{ translate({ ident: "TO_CART" }) }}">
                                <i class="moga-bag"></i>
                            </button>
                        </form>
                        {% endhasrights %}
                        {% else %}
                        <a class="btn btn-outline-primary" href="{{ _productLink }}">{{ translate({ ident: "DETAILS" }) }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
