{% if not type %}
    {% set type = "grid" %}
{% endif %}

{% if head %}
    <h2>
        {{ head }}
    </h2>

    {% if subhead %}
        <p>{{ subhead }}</p>
    {% endif %}
{% endif %}

{% if products and products|length > 0 %}
    <div class="list-container" id="{{ listId }}">
        <div class="row{% if type != 'line' %} grid-row{% endif %} {{ type }}-view">
        {% for _product in products %}
            {% set testid = listId|cat("_")|cat(loop.index) %}

            {% if type != 'line' %}
            <div class="col mb-3">
            {% endif %}

                {{ include_widget({ cl: "oxwArticleBox", _parent: oView.getClassKey(), nocookie: 1, _navurlparams: oViewConf.getNavUrlParams(), iLinkType: _product.getLinkType(), _object: _product, anid: _product.getId(), sWidgetType: "product", sListType: "listitem_" ~ type, iIndex: testid, blDisableToCart: blDisableToCart, isVatIncluded: oView.isVatIncluded(), showMainLink: showMainLink, recommid: recommid, owishid: owishid, toBasketFunction: toBasketFunction, removeFunction: removeFunction, altproduct: altproduct, inlist: _product.isInList(), skipESIforUser: 1, testid: testid }) }}

            {% if type != 'line' %}
            </div>
            {% endif %}

        {% endfor %}
        </div>
    </div>
{% endif %}
