{% block footer_main %}
    {% set blShowFullFooter = oView.showSearch() %}

    {{ oView.setShowNewsletter(oViewConf.getViewThemeParam('blFooterShowNewsletterForm')) }}

    {% if oxcmp_user %}
        {% set force_sid = oView.getSidForWidget() %}
    {% endif %}
    {% set footerWidth = oViewConf.getViewThemeParam('sFooterWidth') %}
    {% if footerWidth == 'container' %}
        <div class="container-xxl">
    {% endif %}
    <footer class="footer">
        <div class="container-xxl">
            {% block footer_main_row %}
                <div class="row">

                    {% block dd_footer_servicelist %}
                        <div class="col-6 col-md-3 col-lg-2">
                            <div class="h4">{{ translate({ ident: "SERVICES" }) }}</div>
                            <div class="footer-content">
                                {% block dd_footer_servicelist_inner %}
                                    {{ include_widget({ cl: "oxwServiceList", noscript: 1, nocookie: 1, force_sid: force_sid }) }}
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                    {% block dd_footer_information %}
                        <div class="col-6 col-md-3 col-lg-2">
                            <div class="h4">{{ translate({ ident: "INFORMATION" }) }}</div>
                            <div class="footer-content">
                                {% block dd_footer_information_inner %}
                                    {{ include_widget({ cl: "oxwInformation", noscript: 1, nocookie: 1, force_sid: force_sid }) }}
                                {% endblock %}

                                <div class="footer-dropdowns dropdown d-lg-none">
                                    {% block dd_footer_information_menu_languages %}
                                        {# Language Dropdown #}
                                        {{ include_widget({ cl: "oxwLanguageList", lang: oViewConf.getActLanguageId(), _parent: oView.getClassKey(), nocookie: 1, _navurlparams: oViewConf.getNavUrlParams(), anid: oViewConf.getActArticleId() }) }}
                                    {% endblock %}
                                    {% block dd_footer_information_menu_currencies %}
                                        {# Currency Dropdown #}
                                        {{ include_widget({ cl: "oxwCurrencyList", cur: oViewConf.getActCurrency(), _parent: oView.getClassKey(), nocookie: 1, _navurlparams: oViewConf.getNavUrlParams(), anid: oViewConf.getActArticleId() }) }}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    {% endblock %}

                    {% if oView.showNewsletter() %}
                        <div class="col-12 col-lg-3">
                            <div class="mb-3 footer-newsletter">
                                <div class="h4">{{ translate({ ident: "NEWSLETTER" }) }}</div>
                                <div class="footer-content">
                                    {% block dd_footer_newsletter %}
                                        <p>{{ translate({ ident: "FOOTER_NEWSLETTER_INFO" }) }}</p>
                                        {% include "widget/footer/newsletter.html.twig" %}
                                    {% endblock %}
                                </div>
                            </div>
                            {% block footer_social %}{% endblock %}
                        </div>
                    {% endif %}

                    <div class="col-12 col-lg-3">
                        {% if oViewConf.getViewThemeParam('sPaymentIcons') %}
                            <div class="payment-methods mb-5">
                                <div class="h4">{{ translate({ ident: "PAYMENT_METHODS" }) }}</div>
                                {% block footer_payment_icons %}
                                {% endblock %}
                                {% ifcontent ident "footer_payment_icons" set oCont %}
                                    {{ include(template_from_string(oCont.oxcontents__oxcontent.value)) }}
                                {% endifcontent %}
                            </div>
                        {% endif %}
                        {# <<START>> Social Links #}
                        {% block dd_footer_social_links %}
                            {% if oViewConf.getViewThemeParam('sFacebookUrl') or oViewConf.getViewThemeParam('sTwitterUrl') or oViewConf.getViewThemeParam('sYouTubeUrl') or oViewConf.getViewThemeParam('sBlogUrl') %}
                                <div class="social-links">
                                    <div class="h4">Social Media</div>
                                    {% block dd_footer_social_links_inner %}
                                        {% block dd_footer_social_links_list %}
                                            {% if oViewConf.getViewThemeParam('sFacebookUrl') %}
                                                <a target="_blank" class="btn btn-primary"
                                                   rel="noopener"
                                                   href="{{ oViewConf.getViewThemeParam('sFacebookUrl') }}">
                                                    <span class="visually-hidden">Facebook</span>
                                                    <svg aria-hidden="true">
                                                        <use xlink:href="#facebook"></use>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                            {% if oViewConf.getViewThemeParam('sInstagramUrl') %}
                                                <a target="_blank" class="btn btn-primary"
                                                   rel="noopener"
                                                   href="{{ oViewConf.getViewThemeParam('sInstagramUrl') }}">
                                                    <span class="visually-hidden">Instagram</span>
                                                    <svg aria-hidden="true">
                                                        <use xlink:href="#instagram"></use>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                            {% if oViewConf.getViewThemeParam('sTwitterUrl') %}
                                                <a target="_blank" class="btn btn-primary"
                                                   rel="noopener"
                                                   href="{{ oViewConf.getViewThemeParam('sTwitterUrl') }}">
                                                    <span class="visually-hidden">Twitter</span>
                                                    <svg aria-hidden="true">
                                                        <use xlink:href="#twitter"></use>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                            {% if oViewConf.getViewThemeParam('sYouTubeUrl') %}
                                                <a target="_blank" class="btn btn-primary"
                                                   rel="noopener"
                                                   href="{{ oViewConf.getViewThemeParam('sYouTubeUrl') }}">
                                                    <span class="visually-hidden">YouTube</span>
                                                    <svg aria-hidden="true">
                                                        <use xlink:href="#youtube"></use>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                            {% if oViewConf.getViewThemeParam('sBlogUrl') %}
                                                <a target="_blank" class="btn btn-primary"
                                                   rel="noopener"
                                                   href="{{ oViewConf.getViewThemeParam('sBlogUrl') }}">
                                                    <span class="visually-hidden">Blog</span>
                                                    <svg aria-hidden="true">
                                                        <use xlink:href="#wordpress"></use>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                        {% endblock %}
                                    {% endblock %}
                                </div>
                            {% endif %}
                        {% endblock %}
                        {# <<ENDE>> Social Links #}
                    </div>
                    {% if oViewConf.getViewThemeParam('sTrustBadges') %}
                        <div class="col-12 col-lg-2">
                            <div class="trust-badges mb-5">
                                <div class="h4">{{ translate({ ident: "TRUST_BADGES" }) }}</div>
                                {% block footer_trust_badges %}
                                {% endblock %}
                                {% ifcontent ident "footer_trust_badges" set oCont %}
                                    {{ include(template_from_string(oCont.oxcontents__oxcontent.value)) }}
                                {% endifcontent %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>

        {# % if oView.isPriceCalculated() %}
                    {% block layout_page_vatinclude %}
                        {% block footer_deliveryinfo %}
                            {% ifcontent ident "oxdeliveryinfo" set oCont %}
                                <div class="container{% if footerWidth == 'w100cContainer' %}-xxl{% else %}-fluid{% endif %}">
                                    <div class="text-end">
                                        {% if oView.isVatIncluded() %}
                                            <span class="vat-info-text">
                                                * {{ translate({ ident: "PLUS_SHIPPING" }) }}
                                                <a href="{{ oCont.getLink() }}">{{ translate({ ident: "PLUS_SHIPPING2" }) }}</a>
                                            </span>
                                        {% else %}
                                            <span class="vat-info-text">
                                                * {{ translate({ ident: "PLUS" }) }}
                                                <a href="{{ oCont.getLink() }}">{{ translate({ ident: "PLUS_SHIPPING2" }) }}</a>
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endifcontent %}
                        {% endblock %}
                    {% endblock %}
                {% endif % #}
        {% block dd_footer_copyright %}
            {% ifcontent ident "oxstdfooter" set oCont %}
            <div class="legal pt-4">
                <div class="container-xxl">
                    <div class="row">
                        <section class="col-12">
                            {{ include(template_from_string(oCont.oxcontents__oxcontent.value)) }}
                        </section>
                    </div>
                </div>
            </div>
            {% endifcontent %}
        {% endblock %}
    </footer>
    {% if footerWidth == 'container' %}
        </div>
    {% endif %}
{% endblock %}

{% if oView.isRootCatChanged() %}
    {% include "form/privatesales/basketexcl.html.twig" %}
{% endif %}
