{% if oViewConf.getTopActionClassName() != 'clearcookies' and oViewConf.getTopActionClassName() != 'mallstart' %}
    {{ include_widget({ cl: "oxwCookieNote", _parent: oView.getClassKey(), nocookie: 1 }) }}
{% endif %}
{% block header_main %}

    {# TODO: We should turn this into vCMS content, or put it to Theme settings #}
    <header class="header">
        <div class="header-wrapper">
            {% if oView.showSearch() %}
                <div class="meta">
                    <div class="container-xxl">
                        <div class="meta-wrapper d-flex justify-content-between">
                            {% include_content "oxheaderusps" ignore missing %}

                            <div class="dropdowns d-none d-lg-inline-block">
                                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        data-bs-auto-close="outside" aria-label="{{ translate({ ident: "CHANGE" }) }}">
                                    <svg aria-hidden="true">
                                        <use xlink:href="#globe"></use>
                                    </svg>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <form>
                                        {% block dd_layout_page_header_icon_menu_languages %}
                                            {# Language Dropdown #}
                                            {{ include_widget({ cl: "oxwLanguageList", lang: oViewConf.getActLanguageId(), _parent: oView.getClassKey(), nocookie: 1, _navurlparams: oViewConf.getNavUrlParams(), anid: oViewConf.getActArticleId() }) }}
                                        {% endblock %}
                                        {% block dd_layout_page_header_icon_menu_currencies %}
                                            {# Currency Dropdown #}
                                            {{ include_widget({ cl: "oxwCurrencyList", cur: oViewConf.getActCurrency(), _parent: oView.getClassKey(), nocookie: 1, _navurlparams: oViewConf.getNavUrlParams(), anid: oViewConf.getActArticleId() }) }}
                                        {% endblock %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="header-box position-relative">
                <div class="container-{% if oView.showSearch() %}xxl{% else %}md{% endif %}">
                    {% if not oView.showSearch() %}
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-10 col-xl-10 col-xxl-6">
                            {% endif %}

                            <div class="header-container">
                                {% block layout_header_logo %}
                                    {% set slogoImg = oViewConf.getViewThemeParam('sLogoFile') %}
                                    {% set sLogoWidth = oViewConf.getViewThemeParam('sLogoWidth') %}
                                    {% set sLogoHeight = oViewConf.getViewThemeParam('sLogoHeight') %}
                                    <a href="{{ oViewConf.getHomeLink()|raw }}"
                                       title="{{ oxcmp_shop.oxshops__oxname.value }}" class="logo-link d-flex">
                                        {% if slogoImg %}
                                            <img src="{{ oViewConf.getImageUrl(slogoImg)|raw }}"
                                                 alt="{{ oxcmp_shop.oxshops__oxname.value }}" width="{{ sLogoWidth }}"
                                                 height="{{ sLogoHeight }}" class="logo-img">
                                        {% else %}
                                            <span class="h1">{{ oxcmp_shop.oxshops__oxname.value }}</span>
                                        {% endif %}
                                    </a>
                                {% endblock %}

                                {% include "widget/header/search.html.twig" %}

                                {% if oView.showSearch() %}
                                    {% block layout_header_top %}
                                        <div class="menu-dropdowns btn-group d-none d-lg-block" role="group">
                                            {% block dd_layout_page_header_icon_menu_account %}
                                                {% if oxcmp_user or oView.getCompareItemCount() or Errors.loginBoxErrors %}
                                                    {% set blAnon = 0 %}
                                                    {% set force_sid = oView.getSidForWidget() %}
                                                {% else %}
                                                    {% set blAnon = 1 %}
                                                {% endif %}
                                                {# Account Dropdown #}
                                                {{ include_widget({ cl: "oxwServiceMenu", _parent: oView.getClassKey(), force_sid: force_sid, nocookie: blAnon, _navurlparams: oViewConf.getNavUrlParams(), anid: oViewConf.getActArticleId() }) }}
                                            {% endblock %}

                                            {% block dd_layout_page_header_icon_menu_minibasket %}
                                                {# Minibasket Dropdown #}
                                                {% if oxcmp_basket.getProductsCount() %}
                                                    {% set blAnon = 0 %}
                                                    {% set force_sid = oView.getSidForWidget() %}
                                                {% else %}
                                                    {% set blAnon = 1 %}
                                                {% endif %}
                                                {{ include_widget({ cl: "oxwMiniBasket", nocookie: blAnon, force_sid: force_sid }) }}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                {% else %}
                                    {% include "page/checkout/inc/steps.html.twig" with {active: active_step} %}
                                {% endif %}
                            </div>

                            {% if not oView.showSearch() %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block layout_header_bottom %}
            {{ include_widget({ cl: "oxwCategoryTree", cnid: oView.getCategoryId(), sWidgetType: "header", style: "", _parent: oView.getClassKey(), nocookie: 1 }) }}
        {% endblock %}

        {% if oView.showSearch() %}
            <div class="fixed-bottom mobile-nav d-lg-none">
                {% block dd_widget_header_categorylist_navbar_header %}
                    <button class="btn btn-toggle collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        {% include "icons/bars.svg" %}
                        <span class="btn-text">{{ translate({ ident: "MENU" }) }}</span>
                    </button>
                {% endblock %}

                <a href="#" class="btn btn-toggle btn-search"
                   data-bs-toggle="collapse"
                   data-bs-target="#searchForm" aria-controls="searchForm"
                   aria-expanded="false">
                    <svg aria-hidden="true">
                        <use xlink:href="#search"></use>
                    </svg>
                    <span class="btn-text">{{ translate({ ident: "SEARCH" }) }}</span>
                </a>

                <a href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account" }) }}" class="btn btn-toggle btn-account">
                    <svg aria-hidden="true">
                        <use xlink:href="#person"></use>
                    </svg>
                    <span class="btn-text">
                        {{ translate({ ident: "ACCOUNT" }) }}
                    </span>
                </a>

                <a class="btn" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_noticelist" }) }}">
                    <svg aria-hidden="true">
                        <use xlink:href="#star-fill"></use>
                    </svg>
                    {% if oxcmp_user and oxcmp_user.getNoticeListArtCnt() %} <span
                            class="badge js-noticeListCnt">{{ oxcmp_user.getNoticeListArtCnt() }}</span>{% endif %}
                    <span class="btn-text">{{ translate({ ident: "FAVOURITES" }) }}</span>
                </a>

                {{ include_widget({ cl: "oxwMiniBasket", nocookie: blAnon, force_sid: force_sid }) }}

            </div>
        {% endif %}
    </header>
    {% if oView.showSearch() and oView.getIsOrderStep() and oView.getClassKey() != "basket"%}
        <div class="container-xxl">
            <div class="row justify-content-center mt-5">
                <div class="col-md-12 col-lg-10 col-xl-10 col-xxl-6">
                    {% include "page/checkout/inc/steps.html.twig" with {active: active_step} %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{{ insert_new_basket_item({tpl: "widget/minibasket/newbasketitemmsg.html.twig", type: "message"}) }}
{% include_dynamic "widget/minibasket/minibasketmodal.html.twig" %}
