{% capture append = "oxidBlock_content" %}

    {% block checkout_payment %}
    <div class="container-xxl py-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-xl-9">
                        <div class="card active mb-3">
                            {% block checkout_payment_main %}
                                {% block checkout_payment_errors %}
                                    {% set iPayError = oView.getPaymentError() %}

                                    {% if iPayError == 1 %}
                                        <div class="alert alert-danger">{{ translate({ ident: "ERROR_MESSAGE_COMPLETE_FIELDS_CORRECTLY" }) }}</div>
                                    {% elseif iPayError == 2 %}
                                        <div class="alert alert-danger">{{ translate({ ident: "MESSAGE_PAYMENT_AUTHORIZATION_FAILED" }) }}</div>
                                    {% elseif iPayError == 4 %}
                                        <div class="alert alert-danger">{{ translate({ ident: "MESSAGE_UNAVAILABLE_SHIPPING_METHOD" }) }}</div>
                                    {% elseif iPayError == 5 %}
                                        <div class="alert alert-danger">{{ translate({ ident: "MESSAGE_PAYMENT_AUTHORIZATION_FAILED" }) }}</div>
                                    {% elseif iPayError >= 6 %}
                                        <!--Add custom error message here-->
                                        <div class="alert alert-danger">{{ translate({ ident: "MESSAGE_PAYMENT_AUTHORIZATION_FAILED" }) }}</div>
                                    {% elseif iPayError == -1 %}
                                        <div class="alert alert-danger">{{ translate({ ident: "MESSAGE_PAYMENT_UNAVAILABLE_PAYMENT_ERROR" }) }}
                                            "{{ oView.getPaymentErrorText() }}").
                                        </div>
                                    {% elseif iPayError == -2 %}
                                        <div class="alert alert-danger">{{ translate({ ident: "MESSAGE_NO_SHIPPING_METHOD_FOUND" }) }}</div>
                                    {% elseif iPayError == -3 %}
                                        <div class="alert alert-danger">{{ translate({ ident: "MESSAGE_PAYMENT_SELECT_ANOTHER_PAYMENT" }) }}</div>
                                    {% elseif iPayError == -4 %}
                                        <div class="alert alert-danger">{{ translate({ ident: "MESSAGE_PAYMENT_BANK_CODE_INVALID" }) }}</div>
                                    {% elseif iPayError == -5 %}
                                        <div class="alert alert-danger">{{ translate({ ident: "MESSAGE_PAYMENT_ACCOUNT_NUMBER_INVALID" }) }}</div>
                                    {% endif %}
                                {% endblock %}

                                {% block change_payment %}
                                    {{ script({ include: "js/payment.min.js", priority: 10, dynamic: __oxid_include_dynamic }) }}
                                    <form action="{{ oViewConf.getSslSelfLink()|raw }}" class="payment" id="payment"
                                          name="order" method="post" novalidate>
                                        {{ oViewConf.getHiddenSid()|raw }}
                                        {{ oViewConf.getNavFormParams()|raw }}
                                        <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName() }}">
                                        <input type="hidden" name="fnc" value="validatepayment">

                                        {% if oView.getPaymentList() %}
                                            <h4 class="card-header card-title">{{ translate({ ident: "PAYMENT_METHOD" }) }}</h4>
                                            <div class="card-body">
                                                {% set inptcounter = "-1" %}
                                                {% for sPaymentID, paymentmethod in oView.getPaymentList() %}
                                                    {% set inptcounter = inptcounter+1 %}
                                                    {% block select_payment %}
                                                        {% if sPaymentID == "oxidcashondel" %}
                                                            {% include "page/checkout/inc/payment_oxidcashondel.html.twig" %}
                                                        {% elseif sPaymentID == "oxiddebitnote" %}
                                                            {% include "page/checkout/inc/payment_oxiddebitnote.html.twig" %}
                                                        {% else %}
                                                            {% include "page/checkout/inc/payment_other.html.twig" %}
                                                        {% endif %}
                                                    {% endblock %}
                                                {% endfor %}


                                                {% block checkout_payment_nextstep %}
                                                    {% if oView.isLowOrderPrice() %}
                                                        <div class="alert alert-info">
                                                            {{ translate({ ident: "MIN_ORDER_PRICE" }) }} {{ oView.getMinOrderPrice() }} {{ currency.sign }}
                                                        </div>
                                                    {% else %}
                                                    {% endif %}
                                                {% endblock %}
                                            </div>
                                        {% elseif oView.getEmptyPayment() %}
                                            {% block checkout_payment_nopaymentsfound %}
                                                <h4 id="paymentHeader" class="card-header card-title">
                                                    {{ translate({ ident: "PAYMENT_INFORMATION" }) }}
                                                </h4>
                                                <div class="card-body">
                                                    {% include_content "oxnopaymentmethod" ignore missing %}
                                                    <input type="hidden" name="paymentid" value="oxempty">
                                                </div>
                                            {% endblock %}
                                        {% endif %}
                                    </form>
                                {% endblock %}

                                {% set currency = oView.getActCurrency() %}
                                {% block change_shipping %}
                                    {% if oView.getAllSets() %}
                                        {% set aErrors = oView.getFieldValidationErrors() %}
                                        <form action="{{ oViewConf.getSslSelfLink()|raw }}" name="shipping" id="shipping"
                                              method="post">
                                            {{ oViewConf.getHiddenSid()|raw }}
                                            {{ oViewConf.getNavFormParams()|raw }}
                                            <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName() }}">
                                            <input type="hidden" name="fnc" value="changeshipping">


                                            <h4 class="card-header card-title">
                                                {{ translate({ ident: "SELECT_SHIPPING_METHOD" }) }}
                                            </h4>
                                            <div class="card-body">
                                                {% block act_shipping %}
                                                    <div class="mb-3">
                                                        <select class="form-select" name="sShipSet"
                                                                onchange="this.form.submit();">
                                                            {% for sShipID, oShippingSet in oView.getAllSets() %}
                                                                <option value="{{ sShipID }}"
                                                                        {% if oShippingSet.blSelected %}SELECTED{% endif %}>{{ oShippingSet.oxdeliveryset__oxtitle.value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <noscript>
                                                        <div class="mb-3">
                                                            <button type="submit"
                                                                    class="btn btn-success">{{ translate({ ident: "UPDATE_SHIPPING_CARRIER" }) }}</button>
                                                        </div>
                                                    </noscript>
                                                {% endblock %}

                                                {% set oDeliveryCostPrice = oxcmp_basket.getDeliveryCost() %}
                                                {% if oDeliveryCostPrice and oDeliveryCostPrice.getPrice() > 0 %}
                                                    <div id="shipSetCost">
                                                        {% if oViewConf.isFunctionalityEnabled('blShowVATForDelivery') %}
                                                            {{ translate({ ident: "CHARGES", suffix: "COLON" }) }} {{ format_price(oDeliveryCostPrice.getNettoPrice(), { currency: currency }) }}
                                                            ({{ translate({ ident: "PLUS_VAT" }) }} {{ format_price(oDeliveryCostPrice.getVatValue(), { currency: currency }) }})
                                                        {% else %}
                                                            {{ translate({ ident: "CHARGES", suffix: "COLON" }) }} {{ format_price(oDeliveryCostPrice.getBruttoPrice(), { currency: currency }) }}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </form>
                                    {% endif %}
                                {% endblock %}
                            {% endblock %}
                        </div>
                        <a href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=user" }) }}"
                           class="btn btn-outline-primary">
                            <svg>
                                <use xlink:href="#left"></use>
                            </svg>
                            {{ translate({ ident: "PREVIOUS_STEP" }) }}</a>

                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="sticky-md-top">
                            {% include "page/checkout/inc/summary_sidebar.html.twig" %}

                            <button type="button" class="btn btn-highlight btn-lg w-100"
                                    onclick="document.getElementById('payment').submit();">
                                {{ translate({ ident: "NEXT" }) }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {{ insert_tracker({title: template_title}) }}
{% endcapture %}

{% include "layout/page.html.twig" with {active_step: 2} %}
