{% capture append = "oxidBlock_content" %}
    {% set template_title = "" %}
    {% if not oView.getLoginOption() and not oxcmp_user %}
        <div class="container-md py-5">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-10 col-xxl-6">
                    <div class="row">
                        <div class="col-lg-7">
                            {% block checkout_user_main %}
                                {% include "page/checkout/inc/options.html.twig" %}
                            {% endblock %}
                        </div>
                        <div class="col-lg-5">
                            <div class="sticky-md-top">
                                {% include "page/checkout/inc/summary_sidebar.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% block checkout_user %}
        <div class="container-md py-5">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-10 col-xxl-6">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="card mt-n2 mb-3 active">

                                {% block checkout_user_noregistration %}
                                    {% if oView.getLoginOption() == 1 %}
                                        <h2 class="h4 card-header card-title">
                                            {{ translate({ ident: "PURCHASE_WITHOUT_REGISTRATION" }) }}
                                        </h2>
                                        <div class="card-body">
                                            {% include "form/user_checkout_noregistration.html.twig" %}
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {% block checkout_user_registration %}
                                    {% if oView.getLoginOption() == 3 %}
                                        <h2 class="h4 card-header card-title">
                                            {{ translate({ ident: "OPEN_ACCOUNT" }) }}
                                        </h2>
                                        <div class="card-body">
                                            {% include "form/user_checkout_registration.html.twig" %}
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {% block checkout_user_change %}
                                    {% if oxcmp_user %}
                                        <h2 class="h4 card-header card-title">
                                            {{ translate({ ident: "ADDRESSES" }) }}
                                        </h2>
                                        <div class="card-body">
                                            {% include "form/user_checkout_change.html.twig" %}
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            </div>
                            <a href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=basket" }) }}"
                               class="btn btn-outline-primary btn-back mb-3">
                                <svg aria-hidden="true">
                                    <use xlink:href="#left"></use>
                                </svg>
                                {{ translate({ ident: "BACK" }) }}
                            </a>
                        </div>
                        <div class="col-lg-5">
                            <div class="sticky-md-top">
                                {% include "page/checkout/inc/summary_sidebar.html.twig" %}

                                <button type="button" id="userFormSubmit" class="btn btn-highlight btn-lg w-100">
                                    {{ translate({ ident: "NEXT" }) }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    {% endif %}
    {{ insert_tracker({title: template_title}) }}
{% endcapture %}

{% include "layout/page.html.twig" with {active_step: 1}%}

