{% if oxcmp_categories %}
    {% set categoriesTilesWidth = oViewConf.getViewThemeParam('showCategoryTilesWidth') %}
    {% set categoriesTilesGrid = oViewConf.getViewThemeParam('showCategoryTilesGrid') %}
    {% set categoriesTilesBg = oViewConf.getViewThemeParam('showCategoryTilesBg') %}
    {% set categoriesTilesSpacing = oViewConf.getViewThemeParam('showCategoryTilesSpacing') %}
    {% set categoriesTilesRowPadding = oViewConf.getViewThemeParam('showCategoryTilesRowPadding') %}

    {# TODO: We should turn this into vCMS content #}
    <div class="container-xxl row-spacer">
        <div class="categories">
            <span class="visually-hidden">{{ translate({ ident: "CATEGORIES" }) }}</span>
            {% set categories = oxcmp_categories %}
            <div class="category-list">
                {% for _cat in categories %}
                    {% if not _cat.getSubCats() %}
                        <a class="btn btn-sm btn-tag btn-rounded todo" href="{{ _cat.getLink()|raw }}">
                            {{ _cat.oxcategories__oxtitle.value }}
                        </a>
                    {% else %}
                        {% for _subcat in _cat.getSubCats() %}
                            {% if not _subcat.getSubCats() %}
                                <a class="btn btn-sm btn-tag btn-rounded todo" href="{{ _subcat.getLink()|raw }}">
                                    {{ _subcat.oxcategories__oxtitle.value }}
                                </a>
                            {% else %}
                                {% for _subsubcat in _subcat.getSubCats() %}
                                    <a class="btn btn-sm btn-tag btn-rounded todo" href="{{ _subsubcat.getLink()|raw }}">
                                        {{ _subsubcat.oxcategories__oxtitle.value }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endif %}
