{{ script({ dynamic: __oxid_include_dynamic }) }}

<script>{% apply spaceless %}
    var sBaseUrl = '{{ oViewConf.getSelfActionLink()|raw }}';
    var sActCl = '{{ oViewConf.getTopActiveClassName() }}';
{% endapply %}</script>

{# Google Analytics Page Tracking #}
{% set sGATrackingId = oViewConf.getViewThemeParam('sGATrackingId') %}
{% if oViewConf.getViewThemeParam('blUseGAPageTracker') and sGATrackingId %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ sGATrackingId }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ sGATrackingId }}', {
            'debug_mode':true,
            {% if oViewConf.getViewThemeParam('blGAAnonymizeIPs') %}
            'anonymize_ip': true
            {% endif %}
        });
    </script>
{% endif %}

{# Google Analytics eCommerce Tracking #}
{% if oViewConf.getViewThemeParam('blUseGAEcommerceTracking') and sGATrackingId and oViewConf.getTopActiveClassName() == 'thankyou' %}
    {% set oOrder = oView.getOrder() %}

    {% if oOrder %}
        <script>
            gtag('event', 'purchase', {
                "transaction_id": "{{ oOrder.oxorder__oxordernr.value }}",            // Transaction ID. Required.
                "affiliation": "{{ oxcmp_shop.oxshops__oxname.value }}",              // Affiliation or store name.
                "value": {{ oOrder.oxorder__oxtotalordersum.value }},                // Grand Total.
                "currency": "{{ oOrder.oxorder__oxcurrency.value }}",                 // Local currency code.
                "tax": {{ oOrder.oxorder__oxartvatprice1.value+oOrder.oxorder__oxartvatprice2.value }}, // Tax.
                "shipping": {{ oOrder.oxorder__oxdelcost.value }},                   // Shipping.
                "items": [
                    {% for oOrderArticle in oOrder.getOrderArticles() %}
                    {
                        "item_name": "{{ oOrderArticle.oxorderarticles__oxtitle.value|trim }}",  // Product name. Required.
                        "item_id": "{{ oOrderArticle.oxorderarticles__oxartnum.value }}",       // SKU/code.
                        "price": {{ oOrderArticle.getPrice().getBruttoPrice() }},              // Unit price.
                        "quantity": {{ oOrderArticle.oxorderarticles__oxamount.value }},       // Quantity.
                        "item_category": "{% set oMainCategory = oOrderArticle.getArticle().getCategory() %}{% if oMainCategory %}{{ oMainCategory.oxcategories__oxtitle.value }}{% endif %}" // Category or variation.
                    }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ]
            });
        </script>
    {% endif %}
{% endif %}

{# Google zertifizierte H채ndler #}
{% if oViewConf.getViewThemeParam('blUseGoogleTS') %}
    {% set sGoogleVendorId = oViewConf.getViewThemeParam('sGoogleVendorId') %}
    {% set sGoogleShoppingAccountId = oViewConf.getViewThemeParam('sGoogleShoppingAccountId') %}
    {% set sPageLanguage = oViewConf.getViewThemeParam('sPageLanguage') %}
    {% set sShoppingCountry = oViewConf.getViewThemeParam('sShoppingCountry') %}
    {% set sShoppingLanguage = oViewConf.getViewThemeParam('sShoppingLanguage') %}

    {% if oViewConf.getTopActiveClassName() == 'details' %}
        {% set oArticle = oView.getProduct() %}
        {% set sGoogleShoppingProductId = oArticle.oxarticles__oxartnum.value %}
    {% endif %}

    {% if sGoogleVendorId and sPageLanguage %}
        {# H채ndler-G체tesiegelcode #}
        <script>
            var gts = gts || [];

            gts.push(["id", "{{ sGoogleVendorId }}"]);
            gts.push(["badge_position","BOTTOM_RIGHT"]);
            gts.push(["locale", "{{ sPageLanguage|default('de_DE') }}"]);
            {% if sGoogleShoppingAccountId %}
                gts.push(["google_base_subaccount_id", "{{ sGoogleShoppingAccountId }}"]);
                gts.push(["google_base_offer_id", "{{ sGoogleShoppingProductId }}"]);
                {% if sShoppingCountry %}
                    gts.push(["google_base_country", "{{ sShoppingCountry|default('DE') }}"]);
                {% endif %}
                {% if sShoppingLanguage %}
                    gts.push(["google_base_language", "{{ sShoppingLanguage|default('de') }}"]);
                {% endif %}
            {% endif %}

            (function() {
                var gts = document.createElement("script");
                gts.type = "";
                gts.async = true;
                gts.src = "https://www.googlecommerce.com/trustedstores/api/js";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(gts, s);
            })();
        </script>

        {# Bestellbest채tigungs-Modul #}
        {% if oViewConf.getTopActiveClassName() == 'thankyou' %}
            {% set sShippingDaysOnStock = oViewConf.getViewThemeParam('sShippingDaysOnStock') %}
            {% set sShippingDaysNotOnStock = oViewConf.getViewThemeParam('sShippingDaysNotOnStock') %}
            {% set sDeliveryDaysOnStock = oViewConf.getViewThemeParam('sDeliveryDaysOnStock') %}
            {% set sDeliveryDaysNotOnStock = oViewConf.getViewThemeParam('sDeliveryDaysNotOnStock') %}

            {% if sShippingDaysOnStock and sShippingDaysNotOnStock and sDeliveryDaysOnStock and sDeliveryDaysNotOnStock %}
                {% if not oOrder %}
                    {% set oOrder = oView.getOrder() %}
                {% endif %}

                {% set aShopDomain = shopURLParam|parse_url %}
                {% set blHasPreOrder = false %}
                {% set oBasket = oView.getBasket() %}
                {% set oCountry = "oxCountry"|oxNew %}
                {% if oCountry.load(oOrder.oxorder__oxbillcountryid.value) %}
                    {% set sCustomerCountry = oCountry.oxcountry__oxisoalpha2.value %}
                {% endif %}

                <div id="gts-order" style="display:none;" translate="no">
                    {% capture name = "sGtsItems" %}
                        {% for oOrderArticle in oOrder.getOrderArticles() %}
                            {% set oArticle = oOrderArticle.getArticle() %}
                            {% set oOrderArticlePrice = oOrderArticle.getPrice() %}
                            {% set sArticleName = oOrderArticle.oxorderarticles__oxtitle.value ~ ' ' ~ oOrderArticle.oxorderarticles__oxselvariant.value %}
                            {% if not blHasPreOrder and oArticle.getStockStatus() == -1 %}
                                {% set blHasPreOrder = true %}
                            {% endif %}

                            <span class="gts-item">
                                <span class="gts-i-name">{{ sArticleName|trim }}</span>
                                <span class="gts-i-price">{{ oOrderArticlePrice.getBruttoPrice() }}</span>
                                <span class="gts-i-quantity">{{ oOrderArticle.oxorderarticles__oxamount.value }}</span>
                                <span class="gts-i-prodsearch-id">{{ oOrderArticle.oxorderarticles__oxartnum.value }}</span>
                                {% if sGoogleShoppingAccountId %}
                                    <span class="gts-i-prodsearch-store-id">{{ sGoogleShoppingAccountId }}</span>
                                    {% if sShoppingCountry %}
                                        <span class="gts-i-prodsearch-country">{{ sShoppingCountry|default('DE') }}</span>
                                    {% endif %}
                                    {% if sShoppingLanguage %}
                                        <span class="gts-i-prodsearch-language">{{ sShoppingLanguage|default('de') }}</span>
                                    {% endif %}
                                {% endif %}
                            </span>
                        {% endfor %}
                    {% endcapture %}

                    {% if blHasPreOrder %}
                        {% set sShipDate = (sShippingDaysNotOnStock ~ "weekdays")|strtotime %}
                    {% else %}
                        {% set sShipDate = (sShippingDaysOnStock ~ "weekdays")|strtotime %}
                    {% endif %}

                    {# voraussichtliches Lieferdatum berechnen #}
                    {% if blHasPreOrder %}
                        {% set sDeliveryDate = (sDeliveryDaysNotOnStock ~ "weekdays")|strtotime %}
                    {% else %}
                        {% set sDeliveryDate = (sDeliveryDaysOnStock ~ "weekdays")|strtotime %}
                    {% endif %}

                    <span id="gts-o-id">{{ oOrder.oxorder__oxordernr.value }}</span>
                    <span id="gts-o-domain">{{ aShopDomain.host }}</span>
                    <span id="gts-o-email">{{ oOrder.oxorder__oxbillemail.value }}</span>
                    <span id="gts-o-country">{{ sCustomerCountry }}</span>
                    <span id="gts-o-currency">{{ oOrder.oxorder__oxcurrency.value }}</span>
                    <span id="gts-o-total">{{ oOrder.oxorder__oxtotalordersum.value }}</span>
                    <span id="gts-o-discounts">{% if oOrder.oxorder__oxdiscount.value > 0 %}-{% endif %}{{ oOrder.oxorder__oxdiscount.value }}</span>
                    <span id="gts-o-shipping-total">{{ oOrder.oxorder__oxdelcost.value }}</span>
                    <span id="gts-o-tax-total">{{ oOrder.oxorder__oxartvatprice1.value+oOrder.oxorder__oxartvatprice2.value }}</span>
                    <span id="gts-o-est-ship-date">{{ sShipDate|date_format("%Y-%m-%d") }}</span>
                    <span id="gts-o-est-delivery-date">{{ sDeliveryDate|date_format("%Y-%m-%d") }}</span>
                    <span id="gts-o-has-preorder">{% if blHasPreOrder %}Y{% else %}N{% endif %}</span>
                    <span id="gts-o-has-digital">{% if oBasket.hasDownloadableProducts() %}Y{% else %}N{% endif %}</span>

                    {% if twig.capture.sGtsItems %}
                        {{ twig.capture.sGtsItems }}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
