{% set manufacturerWidth = oViewConf.getViewThemeParam('sManufacturerWidth') %}
{% if manufacturerWidth == 'container' %}
<div class="container-xxl">
    {% endif %}

    <div id="manufacturer" class="text-center py-5">
        <div class="container{% if manufacturerWidth == 'w100cContainer' %}-xxl{% else %}-fluid{% endif %} px-2">
            <h2>{{ translate({ ident: "OUR_BRANDS" }) }}</h2>
            <span class="subhead">{{ translate({ ident: "MANUFACTURERSLIDER_SUBHEAD" }) }}</span>


            <div class="top-brands my-5 todo">
                <div class="row row-cols-2 row-cols-lg-4 g-2">
                    <div class="col">
                        <div class="card brand-card bg-dark text-white">
                            <img src="https://picsum.photos/id/1071/400/400" class="card-img" alt="Brand">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Top Marke</h5>
                                <a href="#" class="btn btn-primary stretched-link">Marke entdecken</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card brand-card bg-dark text-white">
                            <img src="https://picsum.photos/id/1071/400/400" class="card-img" alt="Brand">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Top Marke</h5>
                                <a href="#" class="btn btn-primary stretched-link">Marke entdecken</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card brand-card bg-dark text-white">
                            <img src="https://picsum.photos/id/1071/400/400" class="card-img" alt="Brand">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Top Marke</h5>
                                <a href="#" class="btn btn-primary stretched-link">Marke entdecken</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card brand-card bg-dark text-white">
                            <img src="https://picsum.photos/id/1071/400/400" class="card-img" alt="Brand">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Top Marke</h5>
                                <a href="#" class="btn btn-primary stretched-link">Marke entdecken</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center g-2 row-cols-2 row-cols-md-4 row-cols-lg-6">
                {% for oManufacturer in oView.getManufacturerForSlider() %}
                    {% if oManufacturer.oxmanufacturers__oxicon.value %}
                        <div class="col">
                            <a href="{{ oManufacturer.getLink() }}" title="{{ translate({ ident: "VIEW_ALL_PRODUCTS" }) }}" class="d-block">
                                <img loading="lazy" class="img-fluid" src="{{ oManufacturer.getIconUrl() }}" alt="{{ oManufacturer.oxmanufacturers__oxtitle.value }}">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if manufacturerWidth == 'container' %}
</div>
{% endif %}
