{% block widget_promotiles %}
    {% set oBanners = oView.getBanners() %}

    {% if oBanners|length %}
        <div class="container-xxl">
            <h2 class="todo">Offers and promotions</h2>
        </div>
        <div class="container-fluid">
            <div class="promo-tiles mb-5">
                <div class="row">
                    {% block dd_widget_promoslider_list %}
                        {% for iPicNr, oBanner in oBanners %}
                            {% set oArticle = oBanner.getBannerArticle() %}
                            {% set sBannerPictureUrl = oBanner.getBannerPictureUrl() %}

                            {% if sBannerPictureUrl %}
                                <div class="col-6 col-lg">
                                    {% set sBannerLink = oBanner.getBannerLink() %}

                                    {% if sBannerLink %}
                                        <a href="{{ sBannerLink }}" class="card bg-dark text-white">
                                    {% else %}
                                        <div class="card bg-dark text-white">
                                    {% endif %}

                                    <img loading="lazy" src="{{ sBannerPictureUrl }}" alt="{{ oBanner.oxactions__oxtitle.value }}" class="card-img">

                                    {% if oViewConf.getViewThemeParam('blSliderShowImageCaption') and oArticle %}
                                        <div class="card-img-overlay">
                                            <h5 class="card-title h2">{{ oArticle.oxarticles__oxtitle.value }}</h5>
                                            {% if oArticle.oxarticles__oxshortdesc.value|trim %}
                                            <p class="card-text">{{ oArticle.oxarticles__oxshortdesc.value|trim }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    {% if sBannerLink %}
                                        </a>
                                    {% else %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
