{{ *oxscript include="js/libs / jqBootstrapValidation.min.js" priority=10 }}
{{ script({ add: "$('input,select,textarea').not('[type=submit]').jqBootstrapValidation();", dynamic: __oxid_include_dynamic }) }}
{{ script({ add: "$('.ox-write-review').on('click', function () { $('html, body').animate({scrollTop: $('#review').offset().top*0.75}, 1000) })"*, dynamic: __oxid_include_dynamic }) }}

<div id="review">
    <div class="h2 mb-3">
        {% if oxcmp_user %}
        <a class="btn btn-link px-0 float-end" id="writeNewReview" data-bs-toggle="collapse" href="#review_form">
            {{ translate({ ident: "WRITE_REVIEW" }) }}
        </a>
        {% else %}
        <a class="btn btn-link px-0 float-end" id="reviewsLogin" rel="nofollow" href="{{ seo_url({ ident: oViewConf.getSelfLink()|cat("cl=account"), params: "anid=`$oDetailsProduct.oxarticles__oxnid.value`"|cat("&amp;sourcecl=details")|cat(oViewConf.getNavUrlParams()) }) }}">
            {{ translate({ ident: "WRITE_REVIEW" }) }}
        </a>
        {% endif %}
        {{ translate({ ident: "WRITE_PRODUCT_REVIEW" }) }}
    </div>

    {% if oxcmp_user %}
        <div id="review_form" class="collapse">
            {% block widget_reviews_form %}
                <form action="{{ oViewConf.getSelfActionLink() }}" method="post" id="rating" class="max-600" novalidate>
                    <div id="writeReview" class="product-review">
                        <div class="d-none">
                            {% if oView.canRate() %}
                                <input id="productRating" type="hidden" name="artrating" value="0">
                                <input id="recommListRating" type="hidden" name="recommlistrating" value="0">
                            {% endif %}
                            {{ oViewConf.getHiddenSid() }}
                            {{ oViewConf.getNavFormParams() }}
                            {% include_dynamic "form/formparams.html.twig" %}
                            <input type="hidden" name="fnc" value="savereview">
                            <input type="hidden" name="cl" value="{{ oViewConf.getTopActiveClassName() }}">
                            {% if oDetailsProduct %}
                                <input type="hidden" name="anid" value="{{ oDetailsProduct.oxarticles__oxid.value }}">
                            {% else %}
                                {% set _actvrecommlist = oView.getActiveRecommList() %}
                                <input type="hidden" name="recommid" value="{{ _actvrecommlist.oxrecommlists__oxid.value }}">
                            {% endif %}

                            {% if sReviewUserHash %}
                                <input type="hidden" name="reviewuserhash" value="{{ sReviewUserHash }}">
                            {% endif %}
                        </div>

                        {% block widget_reviews_form_rating %}
                            {% if oView.canRate() %}
                        <script>
                            function change(value){
                                document.getElementById("productRating").value = value;
                                document.getElementById("recommListRating").value = value;
                                document.getElementById("reviewRating").className = "rating list-inline stars" + value;
                            }
                        </script>
                                <ul id="reviewRating" class="rating list-inline">
                                    {% for star in 1..6 %}
                                        <li class="rating-star s{{ loop.index0 }}">
                                            <a onclick="change([{loop.index0==1 %}{{ translate({ ident: "STAR" }) }}{% else %}{{ translate({ ident: "STARS" }) }}{% endif %}">
                                                <i class="moga-star"></i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="rating-star" id="reviewRatingText"></li>
                                </ul>
                            {% endif %}
                        {% endblock %}

                        {% block widget_reviews_form_fields %}
                            <div class="mb-3">
                                <div class="col-12">
                                    <textarea  rows="7" name="rvw_txt" class="form-control"></textarea>
                                </div>
                            </div>
                        {% endblock %}

                        {% block widget_reviews_form_buttons %}
                            <div class="mb-3">
                                <div class="col-12">
                                    <button id="reviewSave" type="submit" class="submitButton btn btn-primary">{{ translate({ ident: "SAVE_RATING_AND_REVIEW" }) }}</button>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </form>
            {% endblock %}
        </div>
    {% endif %}

    {% if oView.getReviews() %}
        <div class="reviews-landscape">
            {% for review in oView.getReviews() %}
                <div class="card mb-3{% if loop.index %}">
                    <div class="card-body">
                        {% block widget_reviews_record %}
                            <div class="rating float-end">
                                {% if review.oxreviews__oxrating.value %}
                                    {% for starRatings in 0..5 %}
                                    {% if review.oxreviews__oxrating.value >= smarty.section.starRatings.iteration %}
                                    <i class="moga-star active"></i>
                                    {% else %}
                                    <i class="moga-star"></i>
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div>
                                <small class="text-muted">
                                    <span>{{ review.oxuser__oxfname.value }}</span> {{ translate({ ident: "WRITES" }) }}
                                    <span>
                                        <time datetime="{{ review.oxreviews__oxcreate.value|date_format("%Y-%m- % d") }}">{{ review.oxreviews__oxcreate.value|date_format("%d.%m. % Y") }}</time>
                                    </span>
                                </small>
                            </div>
                            <div id="reviewText_{{ loop.index }}">
                                {{ review.oxreviews__oxtext.value }}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="my-5 text-center">
            <strong>{{ translate({ ident: "NO_REVIEW_AVAILABLE" }) }}</strong>
        </div>
    {% endif %}

</div>
