{# {{ script({ add: "$('a.js-external').attr('target', '_blank');", dynamic: __oxid_include_dynamic }) }} #}
{% capture append = "oxidBlock_content" %}
    {% set search_title = "SEARCH"|translate %}
    {% set searchparamforhtml = oView.getSearchParamForHtml() %}
    {% set template_title = search_title ~ "-" ~ searchparamforhtml %}
    {% set search_head = "HITS_FOR"|translate %}
    {% set search_head = oView.getArticleCount() ~ " " ~ search_head ~ " &quot;" ~ oView.getSearchParamForHtml() ~ "&quot;" %}


    {% if blSuggestionTemplate %}
        {# SEARCHSUGGESTIONS #}
        <div id="searchSuggestions" class="extendedsearch suggestions-wrapper container-xl">
            {# include file="suggestions.tpl" oCategories=$oView->getCategoryList() #}
            {% set oConfig = oViewConf.getConfig() %}
            {% set iShowMaxProductSuggestions = oConfig.getConfigParam('iShowMaxProductSuggestions') %}
            {% set iShowMaxCategorySuggestions = oConfig.getConfigParam('iShowMaxCategorySuggestions') %}
            {% set iShowMaxContentSuggestions = oConfig.getConfigParam('iShowMaxContentSuggestions') %}
            <div class="left">
                <div class="categories">
                    {% if oView.getCategoryList()|length %}
                        <ul class="list-group mb-3">
                            <li class="list-group-item bg-light" aria-disabled="true">{{ translate({ ident: "CATEGORIES" }) }}</li>
                            {% for category in oView.getCategoryList() %}
                                {# include file="widget/product/list.tpl" type=$oView->getListDisplayType() listId="searchList" products=$oView->getArticleList() showMainLink=true #}
                                <a class="list-group-item list-group-item-action" href="{{ category.getLink() }}">
                                    {{ category.getTitle() }}
                                </a>
                            {% endfor %}


                            {% if smarty.foreach.searchcats.total > iShowMaxCategorySuggestions %}
                                <a href="#" class="list-group-item list-group-item-action strong">{{ translate({ ident: "CNC_EXTENDEDSEARCH_SHOW_ALL" }) }} ({{ smarty.foreach.searchcats.total }})</a>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>

                <div class="content">
                    {% if oView.getContentList()|length %}
                        <ul class="list-group mb-3">
                            <li class="list-group-item bg-light" aria-disabled="true">{{ translate({ ident: "CNC_EXTENDEDSEARCH_CONTENT" }) }}</li>
                            {% for content in oView.getContentList() %}
                                <a href="{{ content.getLink() }}" class="list-group-item list-group-item-action">
                                     {{ content.getTitle() }}
                                </a>
                            {% endfor %}

                            {% if smarty.foreach.searchcontents.total > iShowMaxContentSuggestions %}
                                <a href="#" class="list-group-item list-group-item-action strong">{{ translate({ ident: "CNC_EXTENDEDSEARCH_SHOW_ALL" }) }} ({{ smarty.foreach.searchcontents.total }})</a>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="middle">
                <div class="articles">
                    <ul class="list-group">
                        <li class="list-group-item bg-light" aria-disabled="true">{{ translate({ ident: "PRODUCTS" }) }}</li>

                        {% if not oView.getArticleCount() %}
                            <li class="list-group-item">{{ translate({ ident: "NO_ITEMS_FOUND" }) }}</li>
                        {% endif %}

                        {% if oView.getArticleList() %}

                            {% for product in oView.getArticleList() %}
                                {# include file="widget/product/list.tpl" type='line' listId="searchList" products=$oView->getArticleList() showMainLink=true #}
                                {% if loop.index0 < iShowMaxProductSuggestions %}
                                    <a href="{{ _productLink }}" title="{{ product.oxarticles__oxtitle.value }} {{ product.oxarticles__oxvarselect.value }}" class="list-group-item list-group-item-action list-group-item-product d-flex">
                                        {% set oPCategory = product.getCategory() %}
                                        <span class="picture">
                                            {% block widget_product_listitem_line_picturebox %}
                                                {% if oViewConf.isModuleActive('cnc / imagebutler') %}
                                                    <picture>
                                                        <source type="image/webp" srcset="{{ oViewConf.getDynamicImage(product.getThumbnailUrl(), 80, 80, 'webp', true) }}">
                                                        <img loading="lazy" src="{{ oViewConf.getDynamicImage(product.getThumbnailUrl(), 80, 80, '', true) }}" alt="{{ oBanner.oxactions__oxtitle.value }}" class="img-fluid">
                                                    </picture>
                                                {% else %}
                                                    <img loading="lazy" src="{{ product.getThumbnailUrl() }}" alt="{{ product.oxarticles__oxtitle.value }} {{ product.oxarticles__oxvarselect.value }}" class="img-fluid">
                                                {% endif %}
                                            {% endblock %}
                                        </span>
                                        <span class="content">
                                            <span class="cat">{{ oPCategory.oxcategories__oxtitle.value }}</span>
                                            {% block widget_product_listitem_line_titlebox %}
                                            <span class="title text-truncate">
                                                {{ product.oxarticles__oxtitle.value }} {{ product.oxarticles__oxvarselect.value }}
                                            </span>
                                            {% endblock %}
                                            <span class="functions">
                                                {% block widget_product_listitem_line_price %}
                                                    {% hasrights { ident: "SHOWARTICLEPRICE" } %}
                                                        {% set oUnitPrice = product.getUnitPrice() %}
                                                        {% set tprice = product.getTPrice() %}
                                                        {% set price = product.getPrice() %}

                                                        {% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %}
                                                            <span class="oldPrice text-muted">
                                                                <del>{{ product.getFTPrice() }} {{ currency.sign }}</del>
                                                            </span>
                                                        {% endif %}

                                                        {% block widget_product_listitem_line_price_value %}
                                                            <span id="productPrice_{{ testid }}" class="price text-nowrap">
                                                                {% if product.isRangePrice() %}
                                                                    {{ translate({ ident: "PRICE_FROM" }) }}
                                                                    {% if not product.isParentNotBuyable() %}
                                                                        {{ product.getFMinPrice() }}
                                                                    {% else %}
                                                                        {{ product.getFVarMinPrice() }}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if not product.isParentNotBuyable() %}
                                                                        {{ product.getFPrice() }}
                                                                    {% else %}
                                                                        {{ product.getFVarMinPrice() }}
                                                                    {% endif %}
                                                                {% endif %}
                                                                {{ currency.sign }}
                                                                {% if oView.isVatIncluded() %}
                                                                    {% if not (product.hasMdVariants() or (oViewConf.showSelectListsInList() and product.getSelections(1)) or product.getVariants()) %}*{% endif %}
                                                                {% endif %}
                                                            </span>
                                                        {% endblock %}

                                                        {% if oUnitPrice %}
                                                            <span id="productPricePerUnit_{{ testid }}" class="pricePerUnit text-nowrap">
                                                                {{ product.oxarticles__oxunitquantity.value }} {{ product.getUnitName() }} | {{ format_price(oUnitPrice, { currency: currency }) }}/{{ product.getUnitName() }}
                                                            </span>
                                                        {% elseif product.oxarticles__oxweight.value  %}
                                                            <span id="productPricePerUnit_{{ testid }}" class="pricePerUnit text-nowrap">
                                                                <span title="weight">{{ translate({ ident: "WEIGHT" }) }}</span>
                                                                <span class="value">{{ product.oxarticles__oxweight.value }} {{ translate({ ident: "KG" }) }}</span>
                                                            </span>
                                                        {% endif %}
                                                    {% endhasrights %}
                                                {% endblock %}
                                            </span>
                                        </span>
                                    </a>
                                {% endif %}
                            {% endfor %}

                            {% if smarty.foreach.search.total > iShowMaxProductSuggestions %}
                                <a href="#" class="list-group-item list-group-item-action strong d-flex justify-content-between align-items-center">{{ translate({ ident: "CNC_EXTENDEDSEARCH_SHOW_ALL_PRODUCTS" }) }}
                                    <span class="badge bg-primary rounded-pill">{{ smarty.foreach.search.total }}</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {# ./ SEARCHSUGGESTIONS #}
    {% else %}
        {# SEARCHRESULT PAGE #}
        <div class="page-header">
            {% block search_header %}
            <h1 class="float-left">{{ search_head }}</h1>

            <div class="clearfix"></div>
            {% endblock %}
        </div>

        {% block search_results %}

            {# CATEGORY SEARCH RESULTS #}
            <div class="contentsearchresults">
                <h3>CATEGORYSEARCHRESULTS</h3>
                <ul>
                    <li>TODO</li>
                    <li>TODO</li>
                    <li>TODO</li>
                </ul>
            </div>
            {# ./ CATEGORY SEARCH RESULTS #}

            {# CONTENT SEARCH RESULTS #}
                <div class="contentsearchresults">
                    <h3>CONTENTSEARCHRESULTS</h3>
                    <ul>
                        <li>TODO</li>
                        <li>TODO</li>
                        <li>TODO</li>
                    </ul>
                </div>
            {# ./ CONTENT SEARCH RESULTS #}

            {# ARTICLE SEARCH RESULTS #}
            {% if oView.getArticleCount() %}
                <div class="listRefine clear bottomRound">
                    {% block search_top_listlocator %}
                        {% include "widget/locator/listlocator.html.twig" with {locator: oView.getPageNavigationLimitedTop(), listDisplayType: true, itemsPerPage: true, sort: true} %}
                    {% endblock %}
                </div>
            {% else %}
                <p class="alert alert-info">{{ translate({ ident: "NO_ITEMS_FOUND" }) }}</p>
            {% endif %}

            {% if oView.getArticleList() %}
                {% for product in oView.getArticleList() %}
                    {% include "widget/product/list.html.twig" with {type: oView.getListDisplayType(), listId: "searchList", products: oView.getArticleList(), showMainLink: true} %}
                {% endfor %}
            {% endif %}

            {% if oView.getArticleCount() %}
                {% block search_bottom_listlocator %}
                    {% include "widget/locator/listlocator.html.twig" with {locator: oView.getPageNavigationLimitedBottom(), place: "bottom"} %}
                {% endblock %}
            {% endif %}

            {# ./ ARTICLE SEARCH RESULTS #}
        {% endblock %}

        {{ insert_tracker({title: template_title}) }}
    {% endif %}

{% endcapture %}
{% set template_title = "SEARCH"|translate %}

{% include "layout/page.html.twig" with {title: template_title, location: "SEARCH"|translate} %}
