{% block details_productmain_zoom %}
    {% set imageCount = oView.getIcons()|length %}
    <div class="gallery">
        <div class="carousel">
            {% for iPicNr, oArtIcon in oView.getIcons() %}
                <input type="radio" class="gallery-helper" id="image{{ iPicNr }}" name="gallery-control"{% if loop.first %} checked{% endif %}>
            {% endfor %}

            {% if imageCount > 1 %}
                <div class="thumbnails">
                    {% for iPicNr, oArtIcon in oView.getIcons() %}
                        <label for="image{{ iPicNr }}" class="thumb">
                            <img loading="lazy" src="{{ oPictureProduct.getIconUrl(iPicNr)|raw }}" alt=" {{ translate({ ident: "PRODUCT_GALLERY_IMAGE_ALT", args: { "count": iPicNr, "title": oPictureProduct.oxarticles__oxtitle.value|striptags ~ ' ' ~ oPictureProduct.oxarticles__oxvarselect.value|striptags } }) }}" width="112" height="112">
                        </label>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="wrap">
                {% for iPicNr, oArtIcon in oView.getIcons() %}
                    {% set sPictureName = oPictureProduct.getPictureFieldValue("oxpic", iPicNr) %}
                    {% set aPictureInfo = config.getMasterPicturePath("product/" ~ iPicNr ~ "/" ~ sPictureName)|getimagesize %}

                    <figure class="zoom-container" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index - 1 }}">
                        <img src="{{ oPictureProduct.getMasterZoomPictureUrl(iPicNr)|raw }}" alt="{{ translate({ ident: "PRODUCT_GALLERY_IMAGE_ALT", args: { "count": iPicNr, "title": oPictureProduct.oxarticles__oxtitle.value|striptags ~ ' ' ~ oPictureProduct.oxarticles__oxvarselect.value|striptags } }) }}" data-bs-toggle="modal" data-bs-target="#imageModal"/>
                    </figure>
                {% endfor %}
            </div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const zoomContainers = document.querySelectorAll('.carousel-item');

        zoomContainers.forEach(container => {
            const img = container.querySelector('img');

            img.addEventListener('click', function(e) {
                if (img.classList.contains('zoom')) {
                    img.classList.remove('zoom')
                } else {
                    img.classList.add('zoom')
                }
            });

            container.addEventListener('mousemove', function(e) {
                const rect = container.getBoundingClientRect();
                const x = e.clientX + rect.left; // X-coordinate relative to the container
                const y = e.clientY + rect.top;  // Y-coordinate relative to the container

                img.style.transformOrigin = `${x}px ${y}px`;
            });
        });
    });
</script>
<style>
    .carousel-item img {
        object-fit: contain;
    }
    .carousel-item img.zoom {
        transition: transform 0.1s ease;
    }

    .carousel-item img.zoom {
        transform: scale(2.5); /* Adjust the scale as needed */
    }

</style>
            <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog d-flex justify-content-center modal-fullscreen p-4">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                {{ oDetailsProduct.oxarticles__oxtitle.value }} {{ oDetailsProduct.oxarticles__oxvarselect.value }}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ translate({ ident: "CLOSE" }) }}"></button>
                        </div>
                        <div class="modal-body justify-content-center">

                            <div id="carouselExampleIndicators" class="carousel carousel-dark slide h-100" data-bs-interval="false">
                                <div class="carousel-inner h-100">
                                    {% for iPicNr, oArtIcon in oView.getIcons() %}
                                        <div class="carousel-item h-100{% if loop.index == 1 %} active{% endif %}">
                                            <img src="{{ oPictureProduct.getMasterZoomPictureUrl(iPicNr)|raw }}" class="d-block w-100 h-100" alt="{{ translate({ ident: "PRODUCT_GALLERY_IMAGE_ALT", args: { "count": iPicNr, "title": oPictureProduct.oxarticles__oxtitle.value|striptags ~ ' ' ~ oPictureProduct.oxarticles__oxvarselect.value|striptags } }) }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex align-items-center justify-content-center">
                            {% for iPicNr, oArtIcon in oView.getIcons() %}
                                <button type="button"
                                        data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="{{ loop.index - 1 }}"
                                        class="active"
                                        aria-current="true"
                                        aria-label=""
                                        style="height: 80px; width: 80px"
                                >
                                    <img class="d-block w-100"
                                         src="{{ oPictureProduct.getIconUrl(iPicNr)|raw }}"
                                    />
                                </button>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}