{% set _additionalParams = oView.getAdditionalParams() %}
{% set listType = oView.getListDisplayType() %}
<div class="d-none d-md-block ms-md-3">
    <button type="button" class="dropdown-toggle arrow" data-bs-toggle="dropdown">
        {{ translate({ ident: "PRODUCTS_PER_PAGE" }) }}
        {% if oViewConf.getArtPerPageCount() %}
            {{ oViewConf.getArtPerPageCount() }}
        {% else %}
            {{ translate({ ident: "CHOOSE" }) }}
        {% endif %}
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for iItemsPerPage in oViewConf.getNrOfCatArticles() %}
            <li class="filter-item{% if oViewConf.getArtPerPageCount() == iItemsPerPage %} selected{% endif %}">
                <a href="{{ oView.getLink()|add_url_parameters("ldtype=" ~ listType ~ "&amp;_artperpage=" ~ iItemsPerPage ~ "&amp;pgNr=0&amp;" ~ _additionalParams) }}"
                   class="filter-link{% if oViewConf.getArtPerPageCount() == iItemsPerPage %} selected{% endif %}">{{ iItemsPerPage }}</a>
            </li>
        {% endfor %}
    </ul>
</div>