{% block widget_locator_paging %}
    {% if pages.changePage %}
        <ul class="pagination justify-content-center">
            <li class="page-item{% if not pages.previousPage %} disabled{% endif %}">
                {% if pages.previousPage %}
                <a class="page-link" href="{{ pages.previousPage }}" aria-label="{{ translate({ ident: "PREVIOUS" }) }}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="visually-hidden-focusable">{{ translate({ ident: "PREVIOUS" }) }}</span>
                </a>
                {% else %}
                <span class="page-link">&laquo;</span>
                {% endif %}
            </li>

            {% set i = 1 %}
            {% for iPage, page in pages.changePage %}
                {% if iPage == i %}
                    <li class="page-item {% if iPage == pages.actPage %} active{% endif %}">
                        <a href="{{ page.url }}" class="page-link">{{ iPage }}</a>
                    </li>
                    {% set i = i+1 %}
                {% elseif iPage > i %}
                    <li class="page-item disabled">
                        <span>...</span>
                    </li>
                    <li class="page-item {% if iPage == pages.actPage %} active{% endif %}">
                        <a href="{{ page.url }}" class="page-link">{{ iPage }}</a>
                    </li>
                    {% set i = iPage+1 %}
                {% elseif iPage < i %}
                    <li class="page-item {% if iPage == pages.actPage %} active{% endif %}">
                        <a href="{{ page.url }}" class="page-link">{{ iPage }}</a>
                    </li>
                    <li class="page-item disabled">
                        <span>...</span>
                    </li>
                    {% set i = iPage+1 %}
                {% endif %}
            {% endfor %}

            <li class="page-item{% if not pages.nextPage %} disabled{% endif %}">
                {% if pages.nextPage %}
                    <a class="page-link" href="{{ pages.nextPage }}" aria-label="{{ translate({ ident: "NEXT" }) }}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="visually-hidden-focusable">{{ translate({ ident: "NEXT" }) }}</span>
                    </a>
                {% else %}
                    <span class="page-link">&raquo;</span>
                {% endif %}
            </li>
        </ul>
    {% endif %}
{% endblock %}
