<div class="item compare-item">
    {% set currency = oView.getActCurrency() %}
    {% if showMainLink %}
        {% set _productLink = product.getMainLink() %}
    {% else %}
        {% set _productLink = product.getLink() %}
    {% endif %}

    <div class="card">
        <div class="position-relative text-center">
            <a class="stretched-link" href="{{ _productLink|raw }}"{% if oView.noIndex() %} rel="nofollow"{% endif %}>
                <img height="300" src="{% if size=='big' %}{{ product.getPictureUrl(1)|raw }}{% elseif size=='thinest' %}{{ product.getIconUrl()|raw }}{% else %}{{ product.getThumbnailUrl() }}{% endif %}" alt="{{ translate({ ident: "PRODUCT_SINGLE_IMAGE_ALT", args: product.oxarticles__oxtitle.value|striptags ~ ' ' ~ product.oxarticles__oxvarselect.value|default('') }) }}" class="product-img">
            </a>
        </div>
    </div>

    <strong class="title">
        <a class="fn" href="{{ _productLink|raw }}" {% if oView.noIndex() %}rel="nofollow"{% endif %}>{{ product.oxarticles__oxtitle.value }} {{ product.oxarticles__oxvarselect.value }}</a>
    </strong>

    <span class="identifier">
        {% if product.oxarticles__oxweight.value %}
            <div>
                <span title="weight">{{ translate({ ident: "WEIGHT" }) }}</span>
                <span class="value">{{ product.oxarticles__oxweight.value }} {{ translate({ ident: "KG" }) }}</span>
            </div>
        {% endif %}
        <small class="text-muted" title="sku">{{ translate({ ident: "PRODUCT_NO", suffix: "COLON" }) }}</small>
        <small class="value text-muted">{{ product.oxarticles__oxartnum.value }}</small>
    </span>

    {% if size=='thin' or size=='thinest' %}
        <span class="flag {% if product.getStockStatus() == -1 %}red{% elseif product.getStockStatus() == 1 %}orange{% elseif product.getStockStatus() == 0 %}green{% endif %}">&nbsp;</span>
    {% endif %}

    {% set aVariantSelections = product.getVariantSelections("null", "null", 1) %}
    {% set blShowToBasket = true %} {# tobasket or more info ? #}
    {% if product.isNotBuyable() or (aVariantSelections and aVariantSelections.selections) or product.hasMdVariants() or (oViewConf.showSelectListsInList() and product.getSelections(1)) or product.getVariants() %}
        {% set blShowToBasket = false %}
    {% endif %}

    <form name="tobasket.{{ testid }}" {% if blShowToBasket %}action="{{ oViewConf.getSelfActionLink()|raw }}" method="post"{% else %}action="{{ _productLink|raw }}" method="get"{% endif %}>
        <div class="variants">
            {% hasrights { ident: "TOBASKET" } %}
                {% if blShowToBasket %}
                    {{ oViewConf.getHiddenSid()|raw }}
                    {{ oViewConf.getNavFormParams()|raw }}
                    <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName() }}">
                    {% if owishid %}
                        <input type="hidden" name="owishid" value="{{ owishid }}">
                    {% endif %}
                    {% if toBasketFunction %}
                        <input type="hidden" name="fnc" value="{{ toBasketFunction }}">
                    {% else %}
                        <input type="hidden" name="fnc" value="tobasket">
                    {% endif %}
                    <input type="hidden" name="aid" value="{{ product.oxarticles__oxid.value }}">
                    {% if altproduct %}
                        <input type="hidden" name="anid" value="{{ altproduct }}">
                    {% else %}
                        <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
                    {% endif %}
                    {% if recommid %}
                        <input type="hidden" name="recommid" value="{{ recommid }}">
                    {% endif %}
                    <input type="hidden" name="pgNr" value="{{ oView.getActPage() }}">
                {% endif %}
            {% endhasrights %}
        </div>

        <div class="tobasket add-to-basket">
            <div class="tobasketFunction">
                <div class="price h5{% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %} sale{% endif %}">
                    {% block widget_product_listitem_grid_price %}
                        {% hasrights { ident: "SHOWARTICLEPRICE" } %}
                            {% set oUnitPrice = product.getUnitPrice() %}
                            {% set tprice = product.getTPrice() %}
                            {% set price = product.getPrice() %}

                            {% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %}
                                <span class="oldPrice text-muted">
                                    <del>{{ format_price(product.getTPrice(), { currency: currency }) }}</del>
                                </span>
                            {% endif %}

                            {% block widget_product_listitem_grid_price_value %}
                                {% if product.getPrice() %}
                                    <span class="text-nowrap{% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %} text-danger{% endif %}">
                                        {% if product.isRangePrice() %}
                                            {{ translate({ ident: "PRICE_FROM" }) }}

                                            {% set rangePrice = product.getVarMinPrice() %}
                                            {% if not product.isParentNotBuyable() %}
                                                {% set rangePrice = product.getMinPrice() %}
                                            {% endif %}

                                            {{ format_price(rangePrice, { currency: currency }) }}
                                        {% else %}
                                            {% set variantPrice = product.getVarMinPrice() %}
                                            {% if not product.isParentNotBuyable() %}
                                                {% set variantPrice = product.getPrice() %}
                                            {% endif %}

                                            {{ format_price(variantPrice, { currency: currency }) }}
                                        {% endif %}

                                        {% if oView.isVatIncluded() %}
                                             {% if not (product.hasMdVariants() or (oViewConf.showSelectListsInList() and product.getSelections(1)) or product.getVariants()) %}*{% endif %}
                                        {% endif %}
                                    </span>
                                {% endif %}
                            {% endblock %}

                            {% if oUnitPrice %}
                                <span id="productPricePerUnit_{{ testid }}" class="pricePerUnit">
                                    {{ product.oxarticles__oxunitquantity.value }} {{ product.getUnitName() }} | {{ format_price(oUnitPrice, { currency: currency }) }}/{{ product.getUnitName() }}
                                </span>
                            {% elseif product.oxarticles__oxweight.value  %}
                                <span id="productPricePerUnit_{{ testid }}" class="pricePerUnit">
                                    <span title="weight">{{ translate({ ident: "WEIGHT" }) }}</span>
                                    <span class="value">{{ product.oxarticles__oxweight.value }} {{ translate({ ident: "KG" }) }}</span>
                                </span>
                            {% endif %}
                        {% endhasrights %}
                    {% endblock %}
                </div>

                {% if blShowToBasket %}
                    {% hasrights { ident: "TOBASKET" } %}
                        <div class="input-group">
                            <input id="amountToBasket_{{ testid }}" type="text" name="am" value="1" autocomplete="off" class="form-control amount" aria-label="{{ translate({ ident: "QUANTITY" }) }}">
                            <button type="submit" class="btn btn-outline-primary" title="{{ translate({ ident: "TO_CART" }) }}">
                                <svg>
                                    <use xlink:href="#bag"></use>
                                </svg>
                            </button>
                        </div>
                    {% endhasrights %}
                {% else %}
                    <span >
                        <a id="variantMoreInfo_{{ testid }}" class="btn btn-outline-primary" href="{{ _productLink|raw }}" onclick="oxid.mdVariants.getMdVariantUrl('mdVariant_{{ testid }}'); return false;">{{ translate({ ident: "MORE_INFO" }) }}</a>
                    </span>
                {% endif %}
            </div>

            {# additional info #}
            <div class="additionalInfo">
                {% set oUnitPrice = product.getUnitPrice() %}
                {% if oUnitPrice %}
                    <span id="productPriceUnit">{{ format_price(oUnitPrice, { currency: currency }) }}/{{ product.getUnitName() }}</span>
                {% endif %}
            </div>

        </div>

    </form>

    <form action="{{ oViewConf.getSelfActionLink()|raw }}" method="post">
            {{ oViewConf.getHiddenSid()|raw }}
            {{ oViewConf.getNavFormParams()|raw }}
            <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName() }}">
            <input type="hidden" name="fnc" value="tocomparelist">
            <input type="hidden" name="aid" value="{{ product.oxarticles__oxid.value }}">
            <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
            <input type="hidden" name="pgNr" value="0">
            <input type="hidden" name="am" value="1">
            <input type="hidden" name="removecompare" value="1">
        {% hasrights { ident: "TOBASKET" } %}
            <button class="btn btn-outline-dark btn-sm" id="remove_cmp_{{ product.oxarticles__oxid.value }}" type="submit" title="{{ translate({ ident: "REMOVE" }) }}" name="send">
                <svg>
                    <use xlink:href="#trash"></use>
                </svg>
                {{ translate({ ident: "REMOVE" }) }}
            </button>
        {% endhasrights %}
    </form>
</div>
