<div class="dropdown">
    <button class="btn btn-sm dropdown-toggle mb-3 float-end" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ translate({ ident: "WHERE_DO_YOU_WANT_TO_GO" }) }}

        <svg aria-hidden="true">
            <use xlink:href="#down"></use>
        </svg>
    </button>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        {% block account_menu %}
        <a class="dropdown-item{% if active_link == "dashboard" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSslSelfLink() ~ "cl=account" }) }}" title="{{ translate({ ident: "SUMMARY" }) }}">{{ translate({ ident: "SUMMARY" }) }}</a>
        <a class="dropdown-item{% if active_link == "password" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSslSelfLink() ~ "cl=account_password" }) }}" title="{{ translate({ ident: "CHANGE_PASSWORD" }) }}">{{ translate({ ident: "CHANGE_PASSWORD" }) }}</a>
        <a class="dropdown-item{% if active_link == "newsletter" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSslSelfLink() ~ "cl=account_newsletter" }) }}" title="{{ translate({ ident: "NEWSLETTER_SETTINGS" }) }}">{{ translate({ ident: "NEWSLETTER_SETTINGS" }) }}</a>
        <a class="dropdown-item{% if active_link == "billship" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSslSelfLink() ~ "cl=account_user" }) }}" title="{{ translate({ ident: "BILLING_SHIPPING_SETTINGS" }) }}">{{ translate({ ident: "BILLING_SHIPPING_SETTINGS" }) }}</a>
        <a class="dropdown-item{% if active_link == "orderhistory" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_order" }) }}" title="{{ translate({ ident: "ORDER_HISTORY" }) }}">{{ translate({ ident: "ORDER_HISTORY" }) }}</a>
        {% if oViewConf.getShowCompareList() %}
        <a class="dropdown-item{% if active_link == "compare" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=compare" }) }}" title="{{ translate({ ident: "MY_PRODUCT_COMPARISON" }) }}">{{ translate({ ident: "MY_PRODUCT_COMPARISON" }) }}{% if oView.getCompareItemCount() > 0 %} <span class="badge">{{ oView.getCompareItemCount() }}</span>{% endif %}</a>
        {% endif %}

        <a class="dropdown-item{% if active_link == "noticelist" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_noticelist" }) }}" title="{{ translate({ ident: "MY_WISH_LIST" }) }}">{{ translate({ ident: "MY_WISH_LIST" }) }}{% if oxcmp_user and oxcmp_user.getNoticeListArtCnt() > 0 %} <span class="badge">{{ oxcmp_user.getNoticeListArtCnt() }}</span>{% endif %}</a>
        {% if oViewConf.getShowWishlist() %}
        <a class="dropdown-item{% if active_link == "wishlist" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_wishlist" }) }}" title="{{ translate({ ident: "MY_GIFT_REGISTRY" }) }}">{{ translate({ ident: "MY_GIFT_REGISTRY" }) }}{% if oxcmp_user and oxcmp_user.getWishListArtCnt() > 0 %} <span class="badge">{{ oxcmp_user.getWishListArtCnt() }}</span>{% endif %}</a>
        {% endif %}
        {% if oViewConf.getShowListmania() %}
        <a class="dropdown-item{% if active_link == "recommendationlist" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_recommlist" }) }}" title="{{ translate({ ident: "MY_LISTMANIA" }) }}">{{ translate({ ident: "MY_LISTMANIA" }) }}</a>
        {% endif %}
        {% if oView.isEnabledDownloadableFiles() %}
        <a class="dropdown-item{% if active_link == "downloads" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_downloads" }) }}" title="{{ translate({ ident: "MY_DOWNLOADS" }) }}">{{ translate({ ident: "MY_DOWNLOADS" }) }}</a>
        {% endif %}
        {% if oView.isUserAllowedToManageOwnReviews() %}
        <a class="dropdown-item{% if active_link == "reviewlist" %} active{% endif %}" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_reviewlist" }) }}" title="{{ translate({ ident: "MY_REVIEWS" }) }}">{{ translate({ ident: "MY_REVIEWS" }) }}</a>
        {% endif %}
        {% endblock %}
    </div>
</div>
