{% block account_delete_my_account_confirmation %}
    <div
        class="modal fade"
        id="delete_my_account_confirmation"
        tabindex="-1"
        role="dialog"
        aria-labelledby="delete_my_account_modal_label"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% block account_delete_my_account_confirmation_header_message %}
                        <span class="h4 modal-title">{{ translate({ ident: "DD_DELETE_MY_ACCOUNT_CONFIRMATION_QUESTION" }) }}</span>
                    {% endblock %}
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% block account_delete_my_account_confirmation_warning_message %}
                                <div class="alert alert-danger">
                                    {{ translate({ ident: "DD_DELETE_MY_ACCOUNT_WARNING" }) }}
                                </div>
                            {% endblock %}
                            {% block account_delete_my_account_confirmation_form %}
                                <form name="delete_my_account" action="{{ oViewConf.getSelfActionLink() }}"
                                      method="post" >
                                        {{ oViewConf.getHiddenSid()|raw }}
                                        <input type="hidden" name="cl" value="account">
                                        <input type="hidden" name="fnc" value="deleteAccount">
                                    {% block account_delete_my_account_confirmation_form_button_set %}
                                        <button type="submit" class="btn btn-danger">
                                            {{ translate({ ident: "DD_DELETE_MY_ACCOUNT" }) }}
                                        </button>
                                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
                                            {{ translate({ ident: "DD_DELETE_MY_ACCOUNT_CANCEL" }) }}
                                        </button>
                                    {% endblock %}
                                </form>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
