{% capture append = "oxidBlock_content" %}
    {% set template_title = "LATEST_NEWS_AND_UPDATES_AT"|translate %}
    {% set oNews = oView.getNews() %}
    <h1>{{ translate({ ident: "LATEST_NEWS_AND_UPDATES_AT" }) }} {{ oxcmp_shop.oxshops__oxname.value }}</h1>

    {% for oNews in oNews %}
        {% if not empty(oNews) and not empty(oNews.oxnews__oxshortdesc.value) %}
            <h3>
                <span>{{ oNews.oxnews__oxdate.value|date_format("%d.%m. % Y") }} - </span> {{ oNews.oxnews__oxshortdesc.value }}
            </h3>
            {{ oNews.getLongDesc() force=1 }}
        {% else %}

        {% endif %}
    {% endfor %}
    {% include "widget/locator/listlocator.html.twig" with {locator: oView.getPageNavigation(), place: "bottom"} %}

{% endcapture %}
{% include "layout/page.html.twig" with {sidebar: "Left"} %}
