{% if oView.isEnabled() %}
    <div id="cookieNote" hidden>
        <div class="alert alert-info" style="margin: 0;">
            <button id="cookieNoteCloseButton" type="button" class="btn-close" data-bs-dismiss="alert">
                <span aria-hidden="true"></span><span class="visually-hidden-focusable">{{ translate({ ident: 'CLOSE' }) }}</span>
            </button>
            {{ translate({ ident: 'COOKIE_NOTE' }) }}
            <span class="cancelCookie"><a href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=clearcookies" }) }}" title="{{ translate({ ident: 'COOKIE_NOTE_DISAGREE' }) }}">{{ translate({ ident: 'COOKIE_NOTE_DISAGREE' }) }}</a></span>
        </div>
    </div>
{% endif %}
{{ script({ widget: oView.getClassKey(), dynamic: __oxid_include_dynamic }) }}
