{% if oView.loadCurrency() %}
    {% if oxcmp_cur|length > 1 %}
        {% set currency = oView.getActCurrency() %}
        <div class="btn-group">
            <button type="button" aria-label="Currencys" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-display="static">
                {% block dd_layout_page_header_icon_menu_currencies_button %}
                    {{ currency.name }}
                {% endblock %}
            </button>
            <ul class="dropdown-menu dropdown-menu-md-end">
                {% block dd_layout_page_header_icon_menu_currencies_list %}
                    {% for _cur in oxcmp_cur %}
                        {% if _cur.selected %}
                            {% set selectedCurrency = _cur.name %}
                            {% capture name = "currencySelected" %}
                                <a class="dropdown-item" href="{{ _cur.link|add_url_parameters(oView.getDynUrlParams()) }}" title="{{ _cur.name }}"><span>{{ _cur.name }}</span></a>
                            {% endcapture %}
                        {% endif %}
                        <li>
                            <a class="dropdown-item{% if _cur.selected %} active{% endif %}" href="{{ _cur.link|add_url_parameters(oView.getDynUrlParams()) }}" title="{{ _cur.name }}">{{ _cur.name }}</a>
                        </li>
                    {% endfor %}
                {% endblock %}
            </ul>
        </div>
    {% endif %}
{% endif %}
