{% if oxcmp_user %}
    {% set noticeListCount = oxcmp_user.getNoticeListArtCnt() %}
    {% set wishListCount = oxcmp_user.getWishListArtCnt() %}
    {% set recommListCount = oxcmp_user.getRecommListsCount() %}
{% else %}
    {% set noticeListCount = "0" %}
    {% set wishListCount = "0" %}
    {% set recommListCount = "0" %}
{% endif %}
{% set notificationsCounter = oView.getCompareItemsCnt()+noticeListCount+wishListCount+recommListCount %}

<button type="button" aria-label="Usercenter" class="btn" data-bs-toggle="dropdown" data-href="{{ seo_url({ ident: oViewConf.getSelfLink()|cat("cl=account") }) }}">
    {% block dd_layout_page_header_icon_menu_account_button %}
        <svg aria-label="
            {% if not oxcmp_user.oxuser__oxpassword.value %}
                {{ translate({ ident: "LOGIN" }) }}
            {% else %}
                {{ translate({ ident: "MY_ACCOUNT" }) }}
            {% endif %}">
            <use xlink:href="#person"></use>
        </svg>
    {% endblock %}
</button>
{% if not oxcmp_user.oxuser__oxpassword.value %}
    {% include "widget/header/loginbox.html.twig" %}
{% else %}
    {% block dd_layout_page_header_icon_menu_account_list %}
        {% include "widget/header/servicebox.html.twig" %}
    {% endblock %}
{% endif %}

<a class="btn" href="{{ seo_url({ ident: oViewConf.getSelfLink()|cat("cl=account_noticelist") }) }}">
    <svg aria-label="{{ translate({ ident: "MY_WISH_LIST" }) }}">
        <use xlink:href="#star-fill"></use>
    </svg>
    {% if oxcmp_user and oxcmp_user.getNoticeListArtCnt() %} <span class="badge bg-secondary rounded-pill">{{ oxcmp_user.getNoticeListArtCnt() }}</span>{% endif %}
</a>