{% block widget_header_servicebox_flyoutbox %}
    <ul id="services" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        {% block widget_header_servicebox_items %}
            <li>
                <a class="dropdown-item" href="{{ seo_url({ ident: oViewConf.getSslSelfLink() ~ "cl=account" }) }}">{{ translate({ ident: "MY_ACCOUNT" }) }}</a>
            </li>
            {% if oViewConf.getShowCompareList() %}
                <li>
                    <a class="dropdown-item" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=compare" }) }}">
                        {{ translate({ ident: "MY_PRODUCT_COMPARISON" }) }}
                    </a>
                </li>
            {% endif %}
            {% if oViewConf.getShowWishlist() %}
                <li>
                    <a class="dropdown-item" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_wishlist" }) }}">
                        {{ translate({ ident: "MY_GIFT_REGISTRY" }) }}
                    </a>
                </li>
            {% endif %}

            {% if oViewConf.isFunctionalityEnabled( "blEnableDownloads" ) %}
                <li>
                    <a class="dropdown-item" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_downloads" }) }}">
                        {{ translate({ ident: "MY_DOWNLOADS" }) }}
                    </a>
                </li>
            {% endif %}
            {% if oView.isUserAllowedToManageOwnReviews() %}
                <li>
                    <a class="dropdown-item" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_reviewlist" }) }}">
                        {{ translate({ ident: "MY_REVIEWS" }) }}
                    </a>
                </li>
            {% endif %}
        {% endblock %}
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="{{ oViewConf.getLogoutLink()|raw }}" title="{{ translate({ ident: "LOGOUT" }) }}">
                {{ translate({ ident: "LOGOUT" }) }}
            </a>
        </li>
    </ul>
{% endblock %}
