{# oxscript include="js/libs / jqBootstrapValidation.min.js" priority=10 }}
{{ script({ add: "$('input, "select", textarea').not('[type=submit]').jqBootstrapValidation();"*, dynamic: __oxid_include_dynamic }) #}

{% if oView.getAccountDeletionStatus() == true %}
    {% set statusMessage = "DD_DELETE_MY_ACCOUNT_SUCCESS"|translate %}
    {% include "message/success.html.twig" with {statusMessage: statusMessage} %}
{% endif %}

<div class="card-group mb-5">
    <div class="card card-lg">
        <h4 class="card-header card-title">{{ translate({ ident: "LOGIN" }) }}</h4>
        <div class="card-body">
            <form name="login" class="needs-validation" action="{{ oViewConf.getSslSelfLink()|raw }}" method="post" novalidate>
                {{ oViewConf.getHiddenSid()|raw }}
                {{ oViewConf.getNavFormParams()|raw }}
                <input type="hidden" name="fnc" value="login_noredirect">
                <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName() }}">
                <input type="hidden" name="tpl" value="{{ oViewConf.getActTplName() }}">
                <input type="hidden" name="oxloadid" value="{{ oViewConf.getActContentLoadId() }}">
                {% if oView.getArticleId() %}
                    <input type="hidden" name="aid" value="{{ oView.getArticleId() }}">
                {% endif %}
                {% if oView.getProduct() %}
                    {% set product = oView.getProduct() %}
                    <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
                {% endif %}

                <p>{{ translate({ ident: "LOGIN_ALREADY_CUSTOMER" }) }}</p>

                <div class="mb-3 form-floating{% if aErrors %} is-invalid{% endif %}">
                    <input id="loginUser" class="form-control" type="text" name="lgn_usr" role="loginUser" required placeholder=" ">
                    <label class="req">{{ translate({ ident: "EMAIL" }) }}</label>
                </div>

                {% block checkout_options_loginaccount_passwordfield %}
                    <div class="mb-3 form-floating{% if aErrors %} is-invalid{% endif %}">
                        <input id="loginPwd" class="form-control" type="password" name="lgn_pwd" role="loginPwd" required placeholder=" ">
                        <label class="req">{{ translate({ ident: "PASSWORD" }) }}</label>
                        <a id="forgotPasswordLink" href="{{ seo_url({ ident: oViewConf.getSelfLink()|cat("cl=forgotpwd") }) }}" class="btn btn-link px-0">{{ translate({ ident: "FORGOT_PASSWORD" }) }}</a>
                    </div>
                {% endblock %}

                {% if oView.showRememberMe() %}
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="lgn_cook" name="lgn_cook" value="1">
                        <label for="lgn_cook" class="form-check-label">
                             {{ translate({ ident: "KEEP_LOGGED_IN" }) }}
                        </label>
                    </div>
                {% endif %}

                {% block checkout_options_loginaccount_submitbutton %}
                    <div class="mb-3">
                        <button id="loginButton" type="submit" class="btn btn-primary">{{ translate({ ident: "LOGIN" }) }}</button>
                    </div>
                {% endblock %}
            </form>
        </div>
    </div>
    <div class="card card-lg">
        <h4 class="card-header card-title">{{ translate({ ident: "OPEN_ACCOUNT" }) }}</h4>
        <div class="card-body">
            <p>{{ translate({ ident: "DD_LOGIN_ACCOUNT_PANEL_CREATE_BODY" }) }}</p>
            <a id="openAccountLink" href="{{ seo_url({ ident: oViewConf.getSslSelfLink()|cat("cl=register") }) }}" class="btn btn-primary" >{{ translate({ ident: "OPEN_ACCOUNT" }) }}</a><br>
        </div>
    </div>
</div>
