<form action="{{ oViewConf.getSelfActionLink()|raw }}" name="saverecommlist" method="post" class="form-horizontal">
    <div class="card card-lg">
        {{ oViewConf.getHiddenSid()|raw() }}
        {{ oViewConf.getNavFormParams()|raw() }}
        <input type="hidden" name="fnc" value="saveRecommList">
        <input type="hidden" name="cl" value="account_recommlist">
        {% if actvrecommlist %}
            <input type="hidden" name="recommid" value="{{ actvrecommlist.getId() }}">
        {% endif %}
        <div class="card-body">
            <div class="form-group">
                <label for="recomm_title" class="control-label col-lg-3 req">{{ translate({ ident: "TITLE" }) }}</label>
                <div class="col-lg-9">
                    <input type="text" id="recomm_title" name="recomm_title" class="form-control" maxlength="73" value="{{ actvrecommlist.oxrecommlists__oxtitle.value }}">
                </div>
            </div>
            <div class="form-group">
                <label for="recomm_author" class="control-label col-lg-3">{{ translate({ ident: "AUTHOR" }) }}</label>
                <div class="col-lg-9">
                    <input type="text" id="recomm_author" name="recomm_author" class="form-control" maxlength="73" value="{% if actvrecommlist.oxrecommlists__oxauthor.value %}{{ actvrecommlist.oxrecommlists__oxauthor.value }}{% elseif not actvrecommlist %}{{ oxcmp_user.oxuser__oxfname.value }} {{ oxcmp_user.oxuser__oxlname.value }}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <label for="recomm_desc" class="control-label col-lg-3">{{ translate({ ident: "INTRODUCTION" }) }}</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="8" id="recomm_desc" name="recomm_desc">{{ actvrecommlist.oxrecommlists__oxdesc.value }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9 my-3">
                    <button class="btn btn-primary" type="submit">{{ translate({ ident: "SAVE" }) }}</button>
                    {% if _actvrecommlist %}
                        <a href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=account_recommlist" }) }}" class="btn btn-default" title="{{ translate({ ident: "DD_RECOMMENDATION_EDIT_BACK_TO_LIST" }) }}">
                            <i class="fa fa-list"></i> {{ translate({ ident: "DD_RECOMMENDATION_EDIT_BACK_TO_LIST" }) }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>
