<form class="max-600 needs-validation" action="{{ oViewConf.getSelfActionLink() }}" name="changepassword" method="post" novalidate>
    {% set aErrors = oView.getFieldValidationErrors() %}

    {{ oViewConf.getHiddenSid()|raw }}
    {{ oViewConf.getNavFormParams()|raw }}
    <input type="hidden" name="fnc" value="changePassword">
    <input type="hidden" name="cl" value="account_password">
    <input type="hidden" name="CustomError" value='user'>
    <input type="hidden" id="passwordLength" value="{{ oViewConf.getPasswordLength() }}">

    <div class="mb-3 form-floating{% if aErrors.oxuser__oxpassword %} oxInValid{% endif %}">
        <input type="password" id="passwordOld" name="password_old" class="form-control" required>
        <label class="form-label" for="passwordOld">{{ translate({ ident: "OLD_PASSWORD" }) }}</label>
        {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxuser__oxpassword} %}
    </div>
    <div class="mb-3 form-floating{% if aErrors.oxuser__oxpassword %} oxInValid{% endif %}">
        <input type="password" id="passwordNew" name="password_new" class="form-control" required>
        <label class="form-label" for="passwordNew">{{ translate({ ident: "NEW_PASSWORD" }) }}</label>
        {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxuser__oxpassword} %}
    </div>
    <div class="mb-3 form-floating{% if aErrors.oxuser__oxpassword %} oxInValid{% endif %}">
        <input type="password" id="passwordNewConfirm" name="password_new_confirm" class="form-control" required data-validation-matches-match="password_new" data-validation-matches-message="{{ translate({ ident: "ERROR_MESSAGE_PASSWORD_DO_NOT_MATCH" }) }}">
        <label class="form-label" for="passwordNewConfirm">{{ translate({ ident: "CONFIRM_PASSWORD" }) }}</label>
        {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxuser__oxpassword} %}
    </div>
    <div class="mb-3">
        <button id="savePass" type="submit" class="btn btn-primary" >{{ translate({ ident: "SAVE" }) }}</button>
    </div>
</form>
