{% set aErrors = oView.getFieldValidationErrors() %}

{% block user_checkout_noregistration %}
    <form class="max-600" action="{{ oViewConf.getSslSelfLink() }}" name="order" method="post" novalidate>
        {% block user_checkout_noregistration_form %}
            {{ oViewConf.getHiddenSid()|raw }}
            {{ oViewConf.getNavFormParams()|raw }}
            <input type="hidden" name="cl" value="user">
            <input type="hidden" name="option" value="1">
            {% if not oxcmp_user.oxuser__oxpassword.value %}
                <input type="hidden" name="fnc" value="createuser">
            {% else %}
                <input type="hidden" name="fnc" value="changeuser">
                <input type="hidden" name="lgn_cook" value="0">
            {% endif %}
            <input type="hidden" id="reloadAddress" name="reloadaddress" value="">
            <input type="hidden" name="blshowshipaddress" value="1">

            {% block user_checkout_noregistration_next_step_top %}
            {% endblock %}

            <h3>{{ translate({ ident: "NOTREGISTERED_ACCOUNTINFO" }) }}</h3>
            {% include "form/fieldset/user_noaccount.html.twig" %}

            <h3>{{ translate({ ident: "BILLING_ADDRESS" }) }}</h3>
            {% include "form/fieldset/user_billing.html.twig" with {noFormSubmit: true, blOrderRemark: true} %}

            <h3>{{ translate({ ident: "SHIPPING_ADDRESS" }) }}</h3>

            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="blshowshipaddress" id="showShipAddress"{% if not oView.showShipAddress() %} checked{% endif %} value="0">
                    <label for="showShipAddress" class="form-check-label">
                         {{ translate({ ident: "USE_BILLINGADDRESS_FOR_SHIPPINGADDRESS" }) }}
                    </label>
                </div>
            </div>
            {{ script({ include: "js/changeaddress.min.js", priority: 10, dynamic: __oxid_include_dynamic }) }}

            <div id="shippingAddress"{% if not oView.showShipAddress() %} style="display: none;"{% endif %}>
                {% include "form/fieldset/user_shipping.html.twig" with {noFormSubmit: true} %}
            </div>

            {% include "form/fieldset/order_remark.html.twig" with {blOrderRemark: true} %}


            {# oxscript add="$('#showShipAddress').change( function() { $('#shippingAddress').toggle($(this).is(':not(:checked)'));});" #}

            {% block user_checkout_noregistration_next_step_bottom %}
                {# }]
                <a href="{{ seo_url({ ident: oViewConf.getBasketLink() }) }}" class="btn btn-outline-primary float-left prevStep submitButton largeButton" id="userBackStepBottom">{{ translate({ ident: "PREVIOUS_STEP" }) }}</a>
                [{ #}
                <button id="userNextStepBottom" class="btn btn-primary btn-lg w-100" name="userform" type="submit">{{ translate({ ident: "CONTINUE_TO_NEXT_STEP" }) }}</button>

            {% endblock %}
        {% endblock %}
    </form>
    {% include "form/fieldset/delete_shipping_address_modal.html.twig" %}
{% endblock %}
