{% if oxcmp_categories %}
    {% set categories = oxcmp_categories %}
    {% block footer_categories %}
        <nav class="nav flex-column">
            {% for _cat in categories %}
                {% if _cat.getIsVisible() %}
                    {% if _cat.getContentCats() %}
                        {% for _oCont in _cat.getContentCats() %}
                            <a class="nav-link" href="{{ _oCont.getLink() }}">{{ _oCont.oxcontents__oxtitle.value }}</a>
                        {% endfor %}
                    {% endif %}
                    <a class="nav-link" href="{{ _cat.getLink() }}">
                        {{ _cat.oxcategories__oxtitle.value }} {% if oView.showCategoryArticlesCount() and ( _cat.getNrOfArticles() > 0 ) %} ({{ _cat.getNrOfArticles() }}){% endif %}
                    </a>
                {% endif %}
            {% endfor %}
        </nav>
    {% endblock %}
{% endif %}
