{% block dd_footer_newsletter_form %}
    <form class="newsletter-form"  action="{{ oViewConf.getSslSelfLink() }}" method="post">
        <div class="mb-3">
            {% block dd_footer_newsletter_form_inner %}
                {{ oViewConf.getHiddenSid()|raw }}
                <input type="hidden" name="fnc" value="fill">
                <input type="hidden" name="cl" value="newsletter">
                {% if oView.getProduct() %}
                    {% set product = oView.getProduct() %}
                    <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
                {% endif %}

                {% block dd_footer_newsletter_form_inner_group %}
                    <label class="visually-hidden" for="footer_newsletter_oxusername">{{ translate({ ident: "NEWSLETTER" }) }}</label>
                    <div class="input-group">
                        <input class="form-control" type="email" id="footer_newsletter_oxusername" name="editval[oxuser__oxusername]" placeholder="{{ translate({ ident: "EMAIL" }) }}" aria-label="{{ translate({ ident: "EMAIL" }) }}">
                        <button class="btn btn-primary" type="submit">{{ translate({ ident: "SUBSCRIBE" }) }}</button>
                    </div>
                {% endblock %}
            {% endblock %}
        </div>
    </form>
{% endblock %}
