{{ script({ include: "js/pages/details/modalzoom.min.js", priority: 10, dynamic: __oxid_include_dynamic }) }}

<div class="wrap">
{% for iPicNr, oArtIcon in oView.getIcons() %}
    {% set sPictureName = oPictureProduct.getPictureFieldValue("oxpic", iPicNr) %}
    {% set aPictureInfo = config.getMasterPicturePath("product/" ~ iPicNr ~ "/" ~ sPictureName)|getimagesize %}

    <figure class="zoom-container" data-bs-target="#carouselZoomPicturesIndicators" data-bs-slide-to="{{ loop.index - 1 }}">
        <img src="{{ oPictureProduct.getMasterZoomPictureUrl(iPicNr)|raw }}" alt="{{ translate({ ident: "PRODUCT_GALLERY_IMAGE_ALT", args: { "count": iPicNr, "title": oPictureProduct.oxarticles__oxtitle.value|striptags ~ ' ' ~ oPictureProduct.oxarticles__oxvarselect.value|striptags } }) }}" data-bs-toggle="modal" data-bs-target="#zoomModal" />
    </figure>
{% endfor %}
</div>

{% block details_productmain_gallery_modal_zoom %}
<div class="modal fade zoom-modal" id="zoomModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center modal-fullscreen p-4">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ oDetailsProduct.oxarticles__oxtitle.value }} {{ oDetailsProduct.oxarticles__oxvarselect.value }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ translate({ ident: "CLOSE" }) }}"></button>
            </div>
            <div class="modal-body justify-content-center">
                <div id="carouselZoomPicturesIndicators" class="carousel slide h-100" data-bs-interval="false">
                    <div class="carousel-inner h-100">
                        {% for iPicNr, oArtIcon in oView.getIcons() %}
                            <div class="carousel-item h-100{% if loop.index == 1 %} active{% endif %}">
                                <img
                                    src="{{ oPictureProduct.getMasterZoomPictureUrl(iPicNr)|raw }}"
                                    class="d-block mx-auto object-fit-contain w-100 h-100"
                                    alt="{{ translate({ ident: "PRODUCT_GALLERY_IMAGE_ALT", args: { "count": iPicNr, "title": oPictureProduct.oxarticles__oxtitle.value|striptags ~ ' ' ~ oPictureProduct.oxarticles__oxvarselect.value|striptags } }) }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex align-items-center justify-content-center">
                {% for iPicNr, oArtIcon in oView.getIcons() %}
                    <button type="button"
                            class="carouselThumbnail"
                            data-bs-target="#carouselZoomPicturesIndicators"
                            data-bs-slide-to="{{ loop.index - 1 }}"
                            aria-current="true"
                    >
                        <img
                            src="{{ oPictureProduct.getIconUrl(iPicNr)|raw }}"
                            class="d-block w-100"
                            alt="{{ translate({ ident: "PRODUCT_GALLERY_IMAGE_ALT", args: { "count": iPicNr, "title": oPictureProduct.oxarticles__oxtitle.value|striptags ~ ' ' ~ oPictureProduct.oxarticles__oxvarselect.value|striptags } }) }}"
                        />
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
