{# Offering #}
{% set currency = oView.getActCurrency() %}
{% set oProduct = oView.getProduct() %}
{% set sRDFaUrl = oView.getLink() %}

<div xmlns="http://www.w3.org/1999/xhtml"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
    xmlns:schema="http://schema.org/"
    xmlns:v="http://schema.org/"
    xml:base="{{ sRDFaUrl|raw }}"
    typeof="schema:Product" about="{{ sRDFaUrl|raw }}#offeringdata">

{% ifcontent ident oView.getRDFaBusinessEntityLoc() set oCont %}
    <div rev="makesOffer" resource="{{ oCont.getLink()|raw }}#companydata"></div>
{% endifcontent %}

{% if oProduct.oxarticles__oxtitle.value %}
    <div property="schema:name" content="{{ oProduct.oxarticles__oxtitle.value|striptags|trim }}" {% if oView.getActiveLangAbbr() %} xml:lang="{{ oView.getActiveLangAbbr() }}"{% endif %}></div>
{% endif %}
{% hasrights { ident: "SHOWLONGDESCRIPTION" } %}
{% set oLongdesc = oProduct.getLongDescription() %}
{% if oLongdesc.value %}
    <div property="schema:description" content="{{ oLongdesc.value|striptags|trim }}" {% if oView.getActiveLangAbbr() %} xml:lang="{{ oView.getActiveLangAbbr() }}"{% endif %}></div>
{% endif %}
{% if not oProduct.oxarticles__oxbundleid.value %}
    <div property="schema:sku" content="{{ oProduct.oxarticles__oxartnum.value }}" datatype="xsd:string"></div>
    {% if oProduct.oxarticles__oxmpn.value %}
        <div property="schema:mpn" content="{{ oProduct.oxarticles__oxmpn.value }}" datatype="xsd:string"></div>
    {% endif %}
{% endif %}
{% endhasrights %}

{% if oView.getRDFaNormalizedRating() and oProduct.oxarticles__oxtitle.value %}
    <div rel="schema:aggregateRating">
        <div typeof="schema:AggregateRating">
            {% set aRDFaRating = oView.getRDFaNormalizedRating() %}
            <div property="schema:reviewCount" content="{{ aRDFaRating.count }}" datatype="xsd:float"></div>
            <div property="schema:ratingValue" content="{{ aRDFaRating.value }}" datatype="xsd:float"></div>
        </div>
    </div>
{% endif %}

<div rel="schema:offers">
    <div typeof="schema:Offer">
        {% include "rdfa/details/inc/object.html.twig" %}

        {% if oView.showRDFaProductStock() %}
            <div rel="schema:inventoryLevel">
                <div typeof="schema:QuantitativeValue">
                    <div property="schema:minValue" content="{% if oProduct.getStockStatus() == -1 %}0{% else %}{{ oProduct.oxarticles__oxstock.value }}{% endif %}" datatype="xsd:float"></div>
                    <div property="schema:unitCode" content="C62" datatype="xsd:string"></div>
                </div>
            </div>
        {% endif %}

        {% if oProduct.getDeliveryDate() %}
            <div property="schema:validFrom" content="{{ oProduct.getDeliveryDate() }}T00:00:00" datatype="xsd:dateTime"></div>
        {% elseif oView.getRDFaValidityPeriod('iRDFaOfferingValidity') %}
            {% set aRDFaValidity = oView.getRDFaValidityPeriod('iRDFaOfferingValidity') %}
            <div property="schema:validFrom" content="{{ aRDFaValidity.from }}" datatype="xsd:dateTime"></div>
            <div property="schema:validThrough" content="{{ aRDFaValidity.through }}" datatype="xsd:dateTime"></div>
        {% endif %}

        {% if oView.getRDFaBusinessFnc() %}
            <div rel="schema:businessFunction" resource="http://purl.org/goodrelations/v1#{{ oView.getRDFaBusinessFnc() }}"></div>
        {% endif %}

        {% if oView.getRDFaCustomers() %}
            {% for Customer in oView.getRDFaCustomers() %}
                <div rel="schema:eligibleCustomerType" resource="http://purl.org/goodrelations/v1#{{ Customer }}"></div>
            {% endfor %}
        {% endif %}

        {% if oViewConf.getCountryList() %}
            {% for oRegion in oViewConf.getCountryList() %}
                <div property="schema:eligibleRegion" content="{{ oRegion.oxcountry__oxisoalpha2.value }}" datatype="xsd:string"></div>
            {% endfor %}
        {% endif %}

        {% hasrights { ident: "SHOWARTICLEPRICE" } %}

            {% include "rdfa/details/inc/price.html.twig" with {oDetailsProduct: oProduct} %}

            {% include "rdfa/details/inc/payment.html.twig" %}

        {% if oProduct.oxarticles__oxfreeshipping.value %}
        <div typeof="schema:priceSpecification">
            <div typeof="schema:DeliveryChargeSpecification"
            {% if oView.getRDFaValidityPeriod("iRDFaPriceValidity") %}
                {% set aRDFaPValidity = oView.getRDFaValidityPeriod("iRDFaPriceValidity") %}
                <div property="schema:validFrom" content="{{ aRDFaPValidity.from }}" datatype="xsd:dateTime"></div>
                <div property="schema:validThrough" content="{{ aRDFaPValidity.through }}"
                     datatype="xsd:dateTime"></div>
            {% endif %}
            {% if oView.getRDFaVAT() > 0 %}
                <div property="schema:valueAddedTaxIncluded"
                     content="{% if oView.getRDFaVAT() == 1 %}true{% else %}false{% endif %}"
                     datatype="xsd:boolean"></div>
            {% endif %}
            <div property="schema:priceCurrency" content="{{ currency.name }}" datatype="xsd:string"></div>
            <div property="schema:price" content="0.00" datatype="xsd:float"></div>
        </div>
    </div>
    {% endif %}

    {% if not oProduct.oxarticles__oxfreeshipping.value %}
        {% include "rdfa/details/inc/delivery.html.twig" %}
    {% endif %}
        {% endhasrights %}
    </div>
</div>

<div rel="schema:image" resource="{{ oView.getActPicture() | raw }}"></div>
</div>
