{% set currency = oView.getActCurrency() %}
{% for oNewDeliveryMethod in oView.getNotMappedToRDFaDeliverySets() %}
    <div about="{{ sRDFaUrl|raw }}#{{ [oNewDeliveryMethod.oxdeliveryset__oxtitle.value, oNewDeliveryMethod.oxdeliveryset__oxid.value]|join('_')|striptags|trim }}" typeof="schema:DeliveryMethod">
        <div property="rdfs:label" content="{{ oNewDeliveryMethod.oxdeliveryset__oxtitle.value }}"></div>
    </div>
{% endfor %}

{% set oDelChargeSpecs = oView.getDeliveryChargeSpecs() %}
{% for oDelChargeSpec in oDelChargeSpecs %}
    <div typeof="schema:DeliveryChargeSpecification" about="{{ sRDFaUrl|raw }}#{{ oDelChargeSpec.getId() }}">
        <div property="rdfs:comment" content="{{ oDelChargeSpec.oxdelivery__oxtitle.value }}" {% if oView.getActiveLangAbbr() %} xml:lang="{{ oView.getActiveLangAbbr() }}"{% endif %}></div>
        {% set oPriceValidity = oView.getRdfaPriceValidity() %}
        <div property="schema:validFrom" content="{{ oPriceValidity.validfrom }}" datatype="xsd:dateTime"></div>
        <div property="schema:validThrough" content="{{ oPriceValidity.validthrough }}" datatype="xsd:dateTime"></div>
{% if oView.getRdfaVAT() %}
        <div property="schema:valueAddedTaxIncluded" content="{% if oView.getRdfaVAT() == 1 %}true{% else %}false{% endif %}" datatype="xsd:boolean"></div>
{% endif %}
        <div property="schema:priceCurrency" content="{{ currency.name }}" datatype="xsd:string"></div>
        <div property="schema:price" content="{{ oDelChargeSpec.oxdelivery__oxaddsum.value }}" datatype="xsd:float"></div>
{% if oDelChargeSpec.oxdelivery__oxdeltype.value == "p" %}
        <div rel="schema:eligibleTransactionVolume">
            <div typeof="schema:UnitPriceSpecification">
                <div property="schema:unitCode" content="C62" datatype="xsd:string"></div>
                <div property="schema:priceCurrency" content="{{ currency.name }}" datatype="xsd:string"></div>
{% if oDelChargeSpec.oxdelivery__oxparam.value %}
                <div property="schema:minPrice" content="{{ oDelChargeSpec.oxdelivery__oxparam.value }}" datatype="xsd:float"></div>
{% endif %}
{% if oDelChargeSpec.oxdelivery__oxparamend.value %}
                <div property="schema:maxPrice" content="{{ oDelChargeSpec.oxdelivery__oxparamend.value }}" datatype="xsd:float"></div>
{% endif %}
            </div>
        </div>
{% endif %}
{% set oDeliverySetMethods = oDelChargeSpec.deliverysetmethods %}
{% for oDelSetMethod in oDeliverySetMethods %}
    {% if oDelSetMethod.oxdeliveryset__oxobjectid.value %}
        <div rel="schema:appliesToDeliveryMethod" resource="http://purl.org/goodrelations/v1#{{ oDelSetMethod.oxdeliveryset__oxobjectid.value }}"></div>
    {% else %}
        <div rel="availableDeliveryMethod" resource="{{ sRDFaUrl|raw }}#{{ [oDelSetMethod.oxdeliveryset__oxtitle.value, oDelSetMethod.oxdeliveryset__oxid.value]|join('_')|striptags|trim }}"></div>
    {% endif %}
{% endfor %}
{% for sRegion in oDelChargeSpec.getCountriesISO() %}
        <div rel="eligibleRegion" content="{{ sRegion }}" datatype="xsd:string"></div>
{% endfor %}
    </div>
{% endfor %}
