{% capture append = "oxidBlock_content" %}
    {% if oView.getActiveRecommList() %}
        {% set _actvrecommlist = oView.getActiveRecommList() %}
        {% set recommendation_head = "LIST_BY"|translate %}
        {% set recommendation_head = _actvrecommlist.oxrecommlists__oxtitle.value ~ " <span>(" ~ recommendation_head ~ " " ~ _actvrecommlist->oxrecommlists__oxauthor->value ~ ")</span>" %}
        <h1 class="page-header">{{ recommendation_head }}</h1>
        <div class="listRefine clear bottomRound">
            {% include "widget/locator/listlocator.html.twig" with {locator: oView.getPageNavigation()} %}
        </div>

        {% block recommendations_desc %}
            <div>
                <div class="clear">
                    <div>
                        {{ _actvrecommlist.oxrecommlists__oxdesc.value }}
                    </div>
                    {% if oView.isReviewActive() %}
                    <div class="rating clear">
                        {% include "widget/reviews/rating.html.twig" with { itemid: "recommid=" ~ _actvrecommlist.getId(), sRateUrl: oViewConf.getSelfLink() ~ "cl=recommlist" } %}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
        {# List types: grid|line #}
        {% include "widget/product/list.html.twig" with {type: "line", listId: "productList", products: oView.getArticleList(), recommid: _actvrecommlist.getId()} %}
        {% include "widget/locator/listlocator.html.twig" with {locator: oView.getPageNavigation(), place: "bottom"} %}
        {% if oView.isReviewActive() %}
        <div class="widgetBox reviews">
            <h4>{{ translate({ ident: "WRITE_PRODUCT_REVIEW" }) }}</h4>
            {% include "widget/reviews/reviews.html.twig" %}
        </div>
        {% endif %}
    {% else %}

        {% set hitsfor = "HITS_FOR"|translate %}
        {% set recommendation_head = oView.getArticleCount() ~ " " ~ hitsfor ~ " &quot;" ~ oView->getSearchForHtml() ~ "&quot;" %}

        <h1 class="page-header">{{ recommendation_head }}</h1>
        {% include "page/recommendations/inc/list.html.twig" %}
    {% endif %}
    {{ insert_tracker() }}
{% endcapture %}
{% include "layout/page.html.twig" with {sidebar: "Left"} %}
