{% if editable %}
<div id="basket_list" class="basket card{% if oViewConf.getActiveClassName() == 'order' %} orderBasketItems{% endif %}">

    <h4 class="card-header card-title">{{ translate({ ident: "CART" }) }}</h4>
    <div class="list-group list-group-flush">
    {% endif %}
        {# basket items #}
        {% set basketitemlist = oView.getBasketArticles() %}
        {% for basketindex, basketitem in oxcmp_basket.getContents() %}
            <div class="list-group-item">
                {% block checkout_basketcontents_basketitem %}
                    {% set basketproduct = basketitemlist[basketindex] %}
                    {% set oArticle = basketitem.getArticle() %}
                    {% set oAttributes = oArticle.getAttributesDisplayableInBasket() %}
                    <div class="row" id="list_cartItem_{{ loop.index }}">
                        <div class="col-md-5 col-lg-2">
                            {% block checkout_basketcontents_basketitem_image %}
                            {% set oBasketitemArticle = basketitem.getArticle() %}

                            {% if editable %}<a class="d-block text-center" href="{{ basketitem.getLink() }}">{% endif %}

                                <img loading="lazy" src="{{ oBasketitemArticle.getIconUrl() }}" alt="{{ basketitem.getTitle()|striptags }} {{ product.oxarticles__oxvarselect.value }}" class="cart-img img-fluid">
                            
                            {% if editable %}</a>{% endif %}

                            {% endblock %}
                        </div>

                        <div class="col-md-7 col-lg-10">
                            <div class="d-flex justify-content-between">
                                <div>
                                    {% block checkout_basketcontents_basketitem_titlenumber %}
                                        {% block checkout_basketcontents_basketitem_title %}
                                            <div class="h4">
                                                {% if not editable %}
                                                    {{ basketitem.getAmount() }} x
                                                {% endif %}
                                                {{ basketitem.getTitle() }}
                                            </div>
                                            {% if basketitem.isSkipDiscount() %} <sup><a href="#SkipDiscounts_link" >**</a></sup>{% endif %}
                                        {% endblock %}

                                        {% block checkout_basketcontents_basketitem_artnum %}
                                            <div class="small">
                                                {{ translate({ ident: "PRODUCT_NO" }) }} {{ basketproduct.oxarticles__oxartnum.value }}
                                            </div>
                                        {% endblock %}

                                        {% block checkout_basketcontents_basketitem_attributes %}
                                            {% if oAttributes.getArray() %}
                                                <div class="small">
                                                    {% set sep = ", " %}
                                                    {% set result = "" %}
                                                    {% for oArtAttributes, oAttr in oAttributes.getArray() %}
                                                        {% set temp = oAttr.oxattribute__oxvalue.value %}
                                                        {% set result = result|cat(temp)|cat(sep) %}
                                                    {% endfor %}
                                                    {{ result|trim("sep") }}
                                                </div>
                                            {% endif %}
                                        {% endblock %}

                                        {% block checkout_basketcontents_basketitem_selectlists %}
                                            {% if not basketitem.isBundle() or not basketitem.isDiscountArticle() %}
                                                {% set oSelections = basketproduct.getSelections("null", basketitem.getSelList()) %}
                                                {% if oSelections %}
                                                    <div class="selectorsBox" id="cartItemSelections_{{ loop.index }}">
                                                        {% for oList in oSelections %}
                                                            {% if oViewConf.showSelectListsInList() %}
                                                                {% include "widget/product/selectbox.html.twig" with {oSelectionList: oList, sFieldName: "aproducts[" ~ basketindex ~ "][sel]", iKey: loop.index0, blHideDefault: true, sSelType: "seldrop"} %}
                                                            {% else %}
                                                                {% set oActiveSelection = oList.getActiveSelection() %}
                                                                {% if oActiveSelection %}
                                                                    <input type="hidden" name="aproducts[{{ basketindex }}][sel][{{ loop.index0 }}]" value="{{ oActiveSelection.getValue() }}">
                                                                    <div>{{ oList.getLabel() }}: {{ oActiveSelection.getName() }}</div>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endblock %}

                                        {% block checkout_basketcontents_basketitem_persparams %}
                                            {% if not editable and basketitem.getPersParams() %}
                                                <p class="persparamBox">
                                                    <small>
                                                        {% for sVar, aParam in basketitem.getPersParams() %}
                                                            {% if not loop.first %}<br>{% endif %}
                                                            {% if loop.first and loop.last %}
                                                                {{ translate({ ident: "LABEL" }) }}
                                                            {% else %}
                                                                {{ sVar }} :
                                                            {% endif %}
                                                            {{ aParam }}
                                                        {% endfor %}
                                                    </small>
                                                </p>
                                            {% else %}
                                                {% if basketproduct.oxarticles__oxisconfigurable.value %}
                                                    {% if basketitem.getPersParams() %}
                                                        <br>
                                                        {% for sVar, aParam in basketitem.getPersParams() %}
                                                            <p>
                                                                <input class="textbox persParam form-control" type="text" name="aproducts[{{ basketindex }}][persparam][{{ sVar }}]" value="{{ aParam }}" placeholder="{% if loop.first and loop.last %}{{ translate({ ident: "LABEL" }) }}{% else %}{{ sVar }}{% endif %}">
                                                            </p>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>
                                                            <input class="textbox persParam form-control" type="text" name="aproducts[{{ basketindex }}][persparam][details]" value="" placeholder="{{ translate({ ident: "LABEL" }) }}">
                                                        </p>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endblock %}

                                    {% endblock %}
                                    <div>

                                        {% block checkout_basketcontents_basketitem_unitprice %}
                                        {# product price #}
                                            <small class="unitPrice">
                                                {% if basketitem.getUnitPrice() %}
                                                    {{ translate({ ident: "UNIT_PRICE" }) }}: {{ format_price(basketitem.getUnitPrice(), { currency: currency }) }}
                                                {% endif %}
                                            </small>
                                        {% endblock %}

                                        {% block checkout_basketcontents_basketitem_amount %}
                                        {# "product" "amount" }]
                                        <span class="amount">
                                            <small>
                                                {% if basketitem.getFUnitPrice() %} | {% endif %}
                                                {% if basketitem.oxarticles__oxunitname.value %}
                                                    {{ basketitem.getAmount() }} {{ basketitem.oxarticles__oxunitname.value }}
                                                {% else %}
                                                    {{ basketitem.getAmount() }} {{ translate({ ident: "PCS" }) }}
                                                {% endif %}
                                            </small>
                                            </span>
                                            {# product amount #}
                                        {% endblock %}
                                        {% block checkout_basketcontents_basketitem_vat %}
                                        <small class="article-vat">
                                            {{ basketitem.getVatPercent() }}% {{ translate({ ident: "VAT" }) }}
                                        </small>
                                        {% endblock %}
                                    </div>
                                </div>
                                <div{% if not editable %} class="d-none"{% endif %}>
                                    {% block checkout_basketcontents_basketitem_quantity %}
                                    <div class="quantity">
                                        {% if editable %}
                                            <input type="hidden" name="aproducts[{{ basketindex }}][aid]" value="{{ basketitem.getProductId() }}">
                                            <input type="hidden" name="aproducts[{{ basketindex }}][basketitemid]" value="{{ basketindex }}">
                                            <input type="hidden" name="aproducts[{{ basketindex }}][override]" value="1">
                                            {% if basketitem.isBundle() %}
                                                <input type="hidden" name="aproducts[{{ basketindex }}][bundle]" value="1">
                                            {% endif %}

                                            {% if not basketitem.isBundle() or not basketitem.isDiscountArticle() %}
                                                <div class="input-group justify-content-end">
                                                    <input id="am_{{ loop.index }}" type="number" class="form-control text-center" name="aproducts[{{ basketindex }}][am]" value="{{ basketitem.getAmount() }}" size="3" min="0" style="width:60px;float:right;"{% if blAllowUnevenAmounts %} step="any"{% endif %}>
                                                    <button class="btn btn-outline-primary" id="basketUpdate-{{ loop.index }}" type="submit" name="updateBtn" title="{{ translate({ ident: "UPDATE" }) }}">
                                                        <svg aria-hidden="true">
                                                            <use xlink:href="#sync"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            {{ basketitem.getAmount() }}
                                        {% endif %}
                                        {% if basketitem.getdBundledAmount() > 0 and (basketitem.isBundle() or basketitem.isDiscountArticle()) %}
                                        +{{ basketitem.getdBundledAmount() }}
                                        {% endif %}
                                    </div>
                                    {% endblock %}

                                    {% block checkout_basketcontents_basketitem_removecheckbox %}
                                        {% if editable %}
                                            <input type="hidden" name="aproducts[{{ basketindex }}][remove]" id="aproducts_{{ basketindex }}_remove" value="0">
                                            <button type="submit" name="removeBtn" class="btn btn-remove me-3" aria-label="{{ translate({ ident: "REMOVE" }) }}" onclick="document.getElementById( 'aproducts_{{ basketindex }}_remove' ).value = '1';">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="#trash"></use>
                                                </svg>
                                            </button>
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                {% block checkout_basketcontents_basketitem_wrapping %}
                                {# product wrapping #}
                                {% if oView.isWrapping() %}
                                    <div class="wrapping">
                                        {% if not basketitem.getWrappingId() %}
                                            {% if editable %}
                                                <a href="#" class="btn btn-remove btn-sm" title="{{ translate({ ident: "ADD" }) }}" data-bs-toggle="modal" data-bs-target="#giftoptions">
                                                    <i class="moga-gift"></i> {{ translate({ ident: "WRAPPING" }) }} {{ translate({ ident: "ADD" }) }}
                                                </a>
                                            {% else %}
                                                <small>{{ translate({ ident: "WRAPPING" }) }}: {{ translate({ ident: "NONE" }) }}</small>
                                            {% endif %}
                                        {% else %}
                                            {% set oWrap = basketitem.getWrapping() %}
                                            {% if editable %}
                                                <small>{{ translate({ ident: "WRAPPING" }) }}:</small>
                                                <a class="btn btn-remove" href="#" title="{{ translate({ ident: "ADD" }) }}" data-bs-toggle="modal" data-bs-target="#giftoptions">
                                                    <i class="moga-pencil"></i>
                                                    {% if oWrap.oxwrapping__oxname %}
                                                        {{ oWrap.oxwrapping__oxname.value }}
                                                    {% else %}
                                                        {{ translate({ ident: "NONE" }) }}
                                                    {% endif %}
                                                </a>
                                            {% else %}
                                                <small>{{ translate({ ident: "WRAPPING" }) }}: {{ oWrap.oxwrapping__oxname.value }}</small>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% endblock %}
                                </div>
                                {% block checkout_basketcontents_basketitem_totalprice %}
                                {# product quantity * price #}
                                <div class="totalPrice text-end">
                                    <strong class="text-nowrap h5">{{ format_price(basketitem.getPrice(), { currency: currency }) }}</strong>
                                </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {# packing unit #}

                {% block checkout_basketcontents_itemerror %}
                    {% for key, oEr in Errors.basket %}
                        {% if oEr.getErrorClassType() == 'oxOutOfStockException' %}
                            {# display only the exceptions for the current article #}
                            {% if basketindex == oEr.getValue('basketIndex') %}
                                <tr class="basketError">
                                    {% if editable %}<td></td>{% endif %}
                                    <td colspan="5">
                                        <span class="inlineError">{{ oEr.getOxMessage() }} <strong>{{ oEr.getValue('remainingAmount') }}</strong></span>
                                    </td>
                                    {% if oView.isWrapping() %}<td></td>{% endif %}
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        {% if oEr.getErrorClassType() == 'oxArticleInputException' %}
                            {% if basketitem.getProductId() == oEr.getValue('productId') %}
                                <tr class="basketError">
                                    {% if editable %}<td></td>{% endif %}
                                    <td colspan="5">
                                        <span class="inlineError">{{ oEr.getOxMessage() }}</span>
                                    </td>
                                    {% if oView.isWrapping() %}<td></td>{% endif %}
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endblock %}
                {# basket items end #}
            </div>
        {% endfor %}

        {% block checkout_basketcontents_giftwrapping %}
            {% if oViewConf.getShowGiftWrapping() %}
                {% set oCard = oxcmp_basket.getCard() %}
                {% if oCard %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-5 col-lg-2">
                                <img loading="lazy" src="{{ oCard.getPictureUrl() }}" alt="{{ card.oxwrapping__oxname.value }}">
                            </div>
                            <div class="col-md-7 col-lg-10">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="h4">{{ translate({ ident: "GREETING_CARD" }) }} "{{ oCard.oxwrapping__oxname.value }}"</div>
                                        <div class="small">
                                            {{ translate({ ident: "YOUR_MESSAGE" }) }}<br>
                                            {{ oxcmp_basket.getCardMessage()|nl2br }}
                                        </div>

                                        {% if editable %}
                                        <a href="#" class="btn btn-remove btn-sm" title="{{ translate({ ident: "ADD" }) }}" data-bs-toggle="modal" data-bs-target="#giftoptions">
                                            <i class="moga-pencil"></i> {{ translate({ ident: "EDIT" }) }}
                                        </a>
                                        {% endif %}

                                        {% if oxcmp_basket.isProportionalCalculationOn() %}
                                        {{ translate({ ident: "PROPORTIONALLY_CALCULATED" }) }}
                                        {% else %}
                                        {% if oxcmp_basket.getGiftCardCostVat() %}{{ oxcmp_basket.getGiftCardCostVatPercent() }}%{% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="totalPrice text-end">
                                        <strong class="text-nowrap h5">{{ oCard.getFPrice() }}&nbsp;{{ currency.sign }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endblock %}

        {% block checkout_basketcontents_basketfunctions %}{% endblock %}
{% if editable %}
    </div>
</div>
{% endif %}
