<dl>
    {% set dynvalue = oView.getDynValue() %}
    <dt>
        <input class="form-check-input" id="payment_{{ sPaymentID }}" type="radio" name="paymentid" value="{{ sPaymentID }}" {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}checked{% endif %}>
        <label class="form-check-label" for="payment_{{ sPaymentID }}"><b>{{ paymentmethod.oxpayments__oxdesc.value }}</b></label>
    </dt>

    <div class="payment-option{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} activePayment{% endif %}">
        <div class="mb-3">
            <label class="req form-label col-lg-3">{{ translate({ ident: "CREDITCARD" }) }}</label>
            <div class="col-lg-9">
                <select name="dynvalue[kktype]" class="form-select" required>
                    <option value="mcd" {% if (dynvalue.kktype == "mcd" or not dynvalue.kktype) %}selected{% endif %}>{{ translate({ ident: "CARD_MASTERCARD" }) }}</option>
                    <option value="vis" {% if dynvalue.kktype == "vis" %}selected{% endif %}>{{ translate({ ident: "CARD_VISA" }) }}</option>
                    <!--
                    <option value="amx" {% if dynvalue.kktype == "amx" %}selected{% endif %}>American Express</option>
                    <option value="dsc" {% if dynvalue.kktype == "dsc" %}selected{% endif %}>Discover</option>
                    <option value="dnc" {% if dynvalue.kktype == "dnc" %}selected{% endif %}>Diners Club</option>
                    <option value="jcb" {% if dynvalue.kktype == "jcb" %}selected{% endif %}>JCB</option>
                    <option value="swi" {% if dynvalue.kktype == "swi" %}selected{% endif %}>Switch</option>
                    <option value="dlt" {% if dynvalue.kktype == "dlt" %}selected{% endif %}>Delta</option>
                    <option value="enr" {% if dynvalue.kktype == "enr" %}selected{% endif %}>EnRoute</option>
                    -->
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label class="req form-label col-lg-3">{{ translate({ ident: "NUMBER" }) }}</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" size="20" maxlength="64" name="dynvalue[kknumber]" value="{{ dynvalue.kknumber }}" required>
            </div>
        </div>

        <div class="mb-3">
            <label class="req form-label col-lg-3">{{ translate({ ident: "BANK_ACCOUNT_HOLDER" }) }}</label>
            <div class="col-lg-9">
                <input type="text" size="20" class="form-control" maxlength="64" name="dynvalue[kkname]" value="{% if dynvalue.kkname %}{{ dynvalue.kkname }}{% else %}{{ oxcmp_user.oxuser__oxfname.value }} {{ oxcmp_user.oxuser__oxlname.value }}{% endif %}" required>
                <span class="help-block">{{ translate({ ident: "IF_DIFFERENT_FROM_BILLING_ADDRESS" }) }}</span>
            </div>
        </div>

        <div class="mb-3">
            <label class="req form-label col-12 col-lg-3">{{ translate({ ident: "VALID_UNTIL" }) }}</label>
            <div class="col-6 col-lg-2">
                <select name="dynvalue[kkmonth]" class="form-select" required>
                    <option {% if dynvalue.kkmonth == "01" %}selected{% endif %}>01</option>
                    <option {% if dynvalue.kkmonth == "02" %}selected{% endif %}>02</option>
                    <option {% if dynvalue.kkmonth == "03" %}selected{% endif %}>03</option>
                    <option {% if dynvalue.kkmonth == "04" %}selected{% endif %}>04</option>
                    <option {% if dynvalue.kkmonth == "05" %}selected{% endif %}>05</option>
                    <option {% if dynvalue.kkmonth == "06" %}selected{% endif %}>06</option>
                    <option {% if dynvalue.kkmonth == "07" %}selected{% endif %}>07</option>
                    <option {% if dynvalue.kkmonth == "08" %}selected{% endif %}>08</option>
                    <option {% if dynvalue.kkmonth == "09" %}selected{% endif %}>09</option>
                    <option {% if dynvalue.kkmonth == "10" %}selected{% endif %}>10</option>
                    <option {% if dynvalue.kkmonth == "11" %}selected{% endif %}>11</option>
                    <option {% if dynvalue.kkmonth == "12" %}selected{% endif %}>12</option>
                </select>
            </div>
            <div class="col-6 col-lg-2">
                <select name="dynvalue[kkyear]" class="form-select">
                    {% for year in oView.getCreditYears() %}
                        <option {% if dynvalue.kkyear == year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="mb-3">
            <label class="req form-label col-lg-3">{{ translate({ ident: "CARD_SECURITY_CODE" }) }}</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" size="20" maxlength="64" name="dynvalue[kkpruef]" value="{{ dynvalue.kkpruef }}" required>
                <span class="help-block">{{ translate({ ident: "CARD_SECURITY_CODE_DESCRIPTION" }) }}</span>
            </div>
        </div>

        {% block checkout_payment_longdesc %}
            {% if paymentmethod.oxpayments__oxlongdesc.value %}
                <div class="row">
                    <div class="col-12 col-lg-9 offset-lg-3">
                        <div class="alert alert-info desc">
                            {{ paymentmethod.oxpayments__oxlongdesc.getRawValue() }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
</dl>
