{% block dd_widget_sidebar_news %}
    <div id="newsBox" class="box card">
        <section>
            <div class="page-header h3">{{ translate({ ident: "NEWS" }) }}</div>
            {% block dd_widget_sidebar_news_inner %}
                <ul class="content">
                    {% block dd_widget_sidebar_news_list %}
                        {% for _oNewsItem in oNews %}
                            <li>
                                {{ _oNewsItem.getLongDesc()|striptags|truncate(100) }}<br>
                                <a href="{{ seo_url({ ident: oViewConf.getSelfLink()|cat("cl=news") }) }}#{{ _oNewsItem.oxnews__oxid.value }}" class="readMore">{{ translate({ ident: "NEXT" }) }}</a>
                            </li>
                        {% endfor %}
                    {% endblock %}
                </ul>
            {% endblock %}
        </section>
    </div>
{% endblock %}