{% set shop = oEmailView.getShop() %}
{% set oViewConf = oEmailView.getViewConfig() %}

{% capture assign = "style" %}
    table.orderarticles th {
        white-space: nowrap;
    }

    table.orderarticles th, table.orderarticles td {
        border: 1px solid #d4d4d4;
        font-size: 13px;
        padding:5px;
    }

    table.orderarticles {
        border-collapse: collapse;
    }

    table.orderarticles thead th {
        background-color: #ebebeb;
    }
{% endcapture %}

{% include "email/html/header.html.twig" with { title: ("DD_ORDERSHIPPED_HEADING"|translate) ~ " #" ~ order.oxorder__oxordernr.value, style: style } %}

    {% block email_html_ordershipped_sendemail %}
{#       {% include 'content::ident::oxordersendemail' %}#}{# TODO: uncomment after fixing #}
    {% endblock %}

    {% block email_html_ordershipped_infoheader %}
        <h3 class="underline">{{ translate({ ident: "SHIPPING_ADDRESS" }) }}</h3>
    {% endblock %}

    {% block email_html_ordershipped_address %}
        <p>
            {% if order.oxorder__oxdellname.value %}
              {{ order.oxorder__oxdelcompany.value }}<br>
              {{ order.oxorder__oxdelfname.value }} {{ order.oxorder__oxdellname.value }}<br>
              {{ order.oxorder__oxdelstreet.value }} {{ order.oxorder__oxdelstreetnr.value }}<br>
              {{ order.oxorder__oxdelstateid.value }}
              {{ order.oxorder__oxdelzip.value }} {{ order.oxorder__oxdelcity.value }}
            {% else %}
              {{ order.oxorder__oxbillcompany.value }}<br>
              {{ order.oxorder__oxbillfname.value }} {{ order.oxorder__oxbilllname.value }}<br>
              {{ order.oxorder__oxbillstreet.value }} {{ order.oxorder__oxbillstreetnr.value }}<br>
              {{ order.oxorder__oxbillstateid.value }}
              {{ order.oxorder__oxbillzip.value }} {{ order.oxorder__oxbillcity.value }}
            {% endif %}
        </p>
        <br/>
    {% endblock %}

    {% block email_html_ordershipped_oxordernr %}
        <h3 class="underline">{{ translate({ ident: "ORDER_NUMBER", suffix: "COLON" }) }} {{ order.oxorder__oxordernr.value }}</h3>
    {% endblock %}

    <table class="orderarticles" border="0" cellspacing="0" cellpadding="0" width="100%">
        <thead>
            <tr>
                <th class="text-right">{{ translate({ ident: "QUANTITY" }) }}</th>
                <th>{{ translate({ ident: "PRODUCT" }) }}</th>
                {% if blShowReviewLink %}
                    <th>{{ translate({ ident: "PRODUCT_RATING" }) }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% block email_html_ordershipped_orderarticles %}
                {% for oOrderArticle in order.getOrderArticles(true) %}
                    <tr valign="top">
                        <td align="right" class="text-right">{{ oOrderArticle.oxorderarticles__oxamount.value }}</td>
                        <td>
                            {{ oOrderArticle.oxorderarticles__oxtitle.value }} {{ oOrderArticle.oxorderarticles__oxselvariant.value }}
                            <br>{{ translate({ ident: "PRODUCT_NO", suffix: "COLON" }) }} {{ oOrderArticle.oxorderarticles__oxartnum.value }}
                        </td>
                        {% if blShowReviewLink %}
                            <td align="right" class="text-right">
                                <p>
                                    <a href="{{ oViewConf.getBaseDir() }}index.php?shp={{ shop.oxshops__oxid.value }}&amp;anid={{ oOrderArticle.oxorderarticles__oxartid.value }}&amp;cl=review&amp;reviewuserhash={{ reviewuserhash }}" target="_blank">{{ translate({ ident: "REVIEW" }) }}</a>
                                </p>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endblock %}
        </tbody>
    </table>

    <br/>

    {% block email_html_ordershipped_infofooter %}
        <p>{{ translate({ ident: "YOUR_TEAM", args: shop.oxshops__oxname.value }) }}</p>
        <br/>
    {% endblock %}

    {% block email_html_ordershipped_shipmenttrackingurl %}
        {% if order.getShipmentTrackingUrl() %}
            <p>{{ translate({ ident: "SHIPMENT_TRACKING", suffix: "COLON" }) }} <a href="{{ order.getShipmentTrackingUrl() }}" target="_blank" title="{{ translate({ ident: "CLICK_HERE" }) }}">{{ translate({ ident: "CLICK_HERE" }) }}</a></p>
            <br/>
        {% endif %}
    {% endblock %}

{% include "email/html/footer.html.twig" %}
