{% set shop = oEmailView.getShop() %}
{% set oViewConf = oEmailView.getViewConfig() %}

{% capture assign = "style" %}
    table.orderarticles th {
    background-color: #ebebeb;
    white-space: nowrap;
    }

    table.orderarticles th, table.orderarticles td {
        border: 1px solid #d4d4d4;
        font-size: 13px;
        padding:5px;
    }

    table.orderarticles {
        border-collapse: collapse;
    }
{% endcapture %}

{% include "email/html/header.html.twig" with {title: "STOCK_LOW"|translate, style: style} %}

<p>{{ translate({ ident: "MESSAGE_STOCK_LOW" }) }}</p>

<table class="orderarticles" border="0" cellspacing="0" cellpadding="0" width="100%">
    <thead>
        <tr>
            <th colspan="2">{{ translate({ ident: "PRODUCT" }) }}</th>
            <th class="text-right">{{ translate({ ident: "QUANTITY" }) }}</th>
        </tr>
    </thead>
    <tbody>
        {% for oProduct in articles %}
            <tr valign="top">
                <td>
                    <img src="{{ oProduct.getIconUrl(false) }}" border="0" hspace="0" vspace="0" alt="{{ oProduct.oxarticles__oxtitle.value|striptags }}" align="texttop">
                </td>
                <td>
                    <p>
                        <b>{{ oProduct.oxarticles__oxtitle.value }}{% if oProduct.oxarticles__oxvarselect.value %}, {{ oProduct.oxarticles__oxvarselect.value }}{% endif %}</b>
                        {% if chosen_selectlist %}
                            ,
                            {% for oList in chosen_selectlist %}
                                {{ oList.name }} {{ oList.value }}&nbsp;
                            {% endfor %}
                        {% endif %}
                        <br>
                        {{ translate({ ident: "PRODUCT_NO", suffix: "COLON" }) }} {{ oProduct.oxarticles__oxartnum.value }}
                    </p>
                </td>
                <td align="right" class="text-right">{{ oProduct.oxarticles__oxstock.value }} ({{ oProduct.oxarticles__oxremindamount.value }})</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br/>

{% include "email/html/footer.html.twig" %}