{% set sContentName = oView.getRDFaDeliveryChargeSpecLoc() %}
{% set oDeliveryMethods = oView.getRDFaDeliverySetMethods() %}
{% for oDelSetMethod in oDeliveryMethods %}
    {% if oDelSetMethod.oxdeliveryset__oxobjectid.value %}
        <div rel="gr:availableDeliveryMethods" resource="http://purl.org/goodrelations/v1#{{ oDelSetMethod.oxdeliveryset__oxobjectid.value }}"></div>
    {% else %}
        {% ifcontent ident sContentName set oCont %}
        <div rel="gr:availableDeliveryMethods" resource="{{ oCont.getLink() }}#{{ oDelSetMethod.oxdeliveryset__oxtitle.value|strip('')|cat('_')|cat(oDelSetMethod.oxdeliveryset__oxid.value) }}"></div>
        {% endifcontent %}
    {% endif %}
{% endfor %}
{% ifcontent ident sContentName set oCont %}
{% for oDelivery in oView.getProductsDeliveryList() %}
    <div rel="gr:hasPriceSpecification" resource="{{ oCont.getLink() }}#{{ oDelivery.getId() }}"></div>
{% endfor %}
{% endifcontent %}