{% capture name = "sRDFaPriceStart" %}
    <div rel="gr:hasPriceSpecification">
        <div typeof="gr:UnitPriceSpecification">
            {% if oView.getRDFaValidityPeriod("iRDFaPriceValidity") %}
                {% set aRDFaPValidity = oView.getRDFaValidityPeriod("iRDFaPriceValidity") %}
                <div property="gr:validFrom" content="{{ aRDFaPValidity.from }}" datatype="xsd:dateTime"></div>
                <div property="gr:validThrough" content="{{ aRDFaPValidity.through }}" datatype="xsd:dateTime"></div>
            {% endif %}
            {% if oView.getRDFaVAT() > 0 %}
                <div property="gr:valueAddedTaxIncluded" content="{% if oView.getRDFaVAT() == 1 %}true{% else %}false{% endif %}" datatype="xsd:boolean"></div>
            {% endif %}
            <div property="gr:hasUnitOfMeasurement" content="C62" datatype="xsd:string"></div>
            <div property="gr:hasCurrency" content="{{ currency.name }}" datatype="xsd:string"></div>
{% endcapture %}
{% if oProduct.loadAmountPriceInfo() %}
    {% for priceItem in oProduct.loadAmountPriceInfo() %}
        {% if loop.first %}
            {% set iRDFaMinAmount = priceItem.oxprice2article__oxamount.value %}
        {% endif %}
{{ twig.capture.sRDFaPriceStart }}
            <div property="gr:hasCurrencyValue" content="{{ priceItem.oxpricealarm__oxprice.value }}" datatype="xsd:float"></div>
            <div rel="gr:hasEligibleQuantity">
                <div typeof="gr:QuantitativeValue">
                    <div property="gr:hasMinValue" content="{{ priceItem.oxprice2article__oxamount.value }}" datatype="xsd:float"></div>
                    <div property="gr:hasMaxValue" content="{{ priceItem.oxprice2article__oxamountto.value }}" datatype="xsd:float"></div>
                    <div property="gr:hasUnitOfMeasurement" content="C62" datatype="xsd:string"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% if oProduct.getFPrice() %}
{{ twig.capture.sRDFaPriceStart }}
            {% set price = oDetailsProduct.getPrice() %}
            <div property="gr:hasCurrencyValue" content="{{ price.getBruttoPrice() }}" datatype="xsd:float"></div>
            {% if iRDFaMinAmount is defined %}
                <div rel="gr:hasEligibleQuantity">
                    <div typeof="gr:QuantitativeValue">
                        <div property="gr:hasMinValue" content="1" datatype="xsd:float"></div>
                        <div property="gr:hasMaxValue" content="{{ iRDFaMinAmount-1 }}" datatype="xsd:float"></div>
                        <div property="gr:hasUnitOfMeasurement" content="C62" datatype="xsd:string"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}